[2017-11-08 00:37] kyessenov opened #9 "Include generated `validate/validate.pb.go`"
This repository is not friendly to standard go dependency management tools.
The recent change to envoy/data-plane-api adds an import on `github.com/lyft/protoc-gen-validate/validate` to generated `pb.go` files (this repository). Golang tools expect to find generated sources in the repo, which are non-existent.

[2017-11-08 00:42] htuch commented on #9
@kyessenov will you put in a PR for this? Ideally CI would validate that this matches the build output.

[2017-11-08 00:46] kyessenov commented on #9
Sure, if you're ok with it. I can add a test to verify the committed file matches the generated bazel file.

[2017-11-08 00:48] htuch commented on #9
Yes, I vaguely remember @rodaine having something like this originally and I may have been over eager to remove it.

[2017-11-08 17:58] rodaine commented on #9
Yeah it was removed originally due to the bazel work, but adding it back in is 👌

[2017-11-08 18:42] akonradi opened #11 "What is the API for the C++ validation code?"
The go `Validate` functions are nice in that they return either 'success' or an error with a string. How is this supposed to look on the C++ side?

[2017-11-08 18:44] akonradi commented on #11
We could return an `absl::optional` after pulling in [abseil](https://github.com/abseil/abseil-cpp), but that might be overkill. A slightly less clean approach would be to make the validate() functions take a string ref that they populate, and return a bool indicating success.

[2017-11-08 18:45] htuch commented on #11
I'd do the latter, I think it would be better to minimize the C++ deps in this repo.

[2017-11-10 18:31] #9 closed

[2017-11-14 18:31] rodaine commented on #11
I'm also for the latter. While not exactly DRY, having the generated code have no deps beyond the stdlib and the proto libraries already required by the generated code was a goal.

[2017-11-15 17:00] akonradi commented on #11
Boolean status return with a `std::string*` for errors it is.

[2017-11-15 17:00] #11 closed

[2017-11-16 21:41] htuch opened #15 "Investigate using Bazel toolchain support to avoid forking rules_go"
Today, we fork https://github.com/bazelbuild/rules_go to add our own variant of `go_proto_library` with the ability to use the PGV plugin for code generation, see:
* https://github.com/lyft/protoc-gen-validate/blob/master/bazel/go_proto_library.bzl
* https://github.com/lyft/protoc-gen-validate/blob/master/bazel/go_proto_library.bzl.diff

rules_go recently gained the ability to work with `proto_lib

[2017-11-20 15:16] htuch opened #16 "Add clang-format style and checks to CI"
See https://github.com/envoyproxy/envoy/blob/master/.clang-format and https://github.com/envoyproxy/envoy/blob/master/tools/check_format.py.

[2017-11-22 20:26] akonradi opened #18 "Clean up generated code"
The generated validation code is not very well formatted, so either the templates should be modified to make it look nice or there should be a post-processing pass to auto-format it.

[2017-11-27 21:33] akonradi opened #22 "How to represent regular expressions"
The current defacto regular expression implementation is the one used by Go, which uses the [re2 syntax](https://github.com/google/re2/wiki/Syntax). It isn't POSIX-compliant, nor is it immediately compatible with C++'s std::basic_regex and friends. This shows up most obviously when trying to use flags (`.` matches newline, case-insensitive matching, etc.) to modify the matching behavior: Go encode

[2017-11-27 22:17] htuch commented on #22
JSON schema uses ECMAscript regexes (https://spacetelescope.github.io/understanding-json-schema/reference/regular_expressions.html), which is what C++ uses more or less. So, we should probably use that. Is there a Go lib for this?

[2017-11-27 23:05] akonradi commented on #22
It's definitely not supported by the built-in regexp package. ECMAscript supports backreferences and re2 doesn't. I don't know about third party libraries, though.

[2017-11-27 23:39] rodaine commented on #22
Currently, PGV is [documented to support re2](https://github.com/lyft/protoc-gen-validate/blob/master/validate/validate.proto#L479). Ideally, none of the generated code (any lang) will have dependencies outside of the stdlib. So...

We can limit to the [POSIX ERE syntax](https://golang.org/pkg/regexp/#CompilePOSIX), if that's something we can support out-of-the-box in C++?

[2017-11-28 02:54] htuch commented on #22
C++ can do something "similar" to ERE, see https://www.regular-expressions.info/stdregex.html for the caveats which mostly relate to non-ASCII and embedded line breaks. http://en.cppreference.com/w/cpp/regex/basic_regex as well.

[2017-11-28 16:19] akonradi commented on #22
I suspect it won't be possible to avoid all dependencies outside of the standard libraries. UTF-8 support, which is required by some string validations, is not supported in the C++ standard library. I don't think URL or IP validation are either (though I may be mistaken). Go just happens to have a standard library with substantially more breadth than C++. That being said, re2 wouldn't be the worst

[2017-11-30 03:47] kyessenov opened #29 "gogoproto cannot compile validate.proto"
Attempting to apply gogoproto to data-plane-api, getting these errors:
[code]

gogo claims it's an incorrect use of oneof field.

cc @htuch

[2017-11-30 04:51] kyessenov commented on #29
This only happens with gogofaster and gogoslick, works fine with gogofast.

[2017-11-30 22:43] htuch opened #34 "Duration constraints can only handle 64-bit compatible values"
The Duration protos is capable of representing values `> time.Duration`, see https://github.com/golang/protobuf/blob/master/ptypes/duration.go#L73 and https://github.com/google/protobuf/blob/master/src/google/protobuf/util/time_util.h#L61. The Go (but not C++) templates and `checker.go` requires a conversion to `time.Duration`, which won't work for these large numbers.

[2017-11-30 22:44] htuch commented on #34
Same will be true for `Timestamp`

[2017-11-30 23:22] rodaine commented on #34
`time.Time` is represented internally with seconds and nanos like the proto. That should work as intended for the timestamp. `Duration` will certainly need modification, however.

[2017-11-30 23:23] htuch commented on #34
@rodaine yeah, but there is some common code in checker.go that might need addressing here. Worth adding a test for in any case.

[2017-12-01 18:53] kyessenov commented on #29
Re-opening in case someone else runs into this.
It would be nice if the proto was refactored in order to support `gogoslick`.

[2017-12-01 19:43] rodaine commented on #29
Hm, is this bug in gogoslick? It is totally valid to have boolean fields in a oneof. Likewise with the warnings about `optional bytes`.

[2017-12-01 19:49] kyessenov commented on #29
`gogoslick` assumes nullable=false for proto2 since it lets it erase pointers to primitive types (otherwise, you have things like `*bool`). We can override the choice by annotating all fields with gogoproto annotations. That would require importing gogo though. Would that be the right solution?

[2017-12-01 20:00] rodaine commented on #29
I'd rather not take on another dependency, but I also don't want to hamstring folks who are using these tools. The oneof was a way of semantically grouping the known types to make them mutually exclusive, but we can enforce that via the checker instead as we do for other erroneous sets of contraints. That should remove the error, at least.

[2017-12-01 20:02] kyessenov commented on #29
Yeah, that is what I was thinking. Perhaps, we should do a meta validator or run PGV on PGV :)

[2017-12-01 20:05] rodaine commented on #29
We do 😅! https://github.com/lyft/protoc-gen-validate/blob/master/checker.go

[2017-12-02 23:55] htuch opened #39 "Cross-file C++ validation requires manual header specification"
Due to the headers-with-function-inlining approach we've adopted, if we have a proto A that depends on B and C, it's necessary to manually specify:

[code]

to make use of A's validate capabilities. We're not doing transitive include generation. This is actually super error prone, as not getting a correct topological sort can result in false positive proto validations.

If you simply `#include <im

[2017-12-03 00:01] htuch commented on #39
This is particularly bad as it's a silent failure, as we have a default that is there for types (such as WKT) that aren't run through PGV https://github.com/lyft/protoc-gen-validate/blob/master/validate/validate.h#L18. So, we can end up with false positives if not correctly specifying the dependent headers.

At the end of the day, I think the responsibility might have to be moved into Bazel to tra

[2017-12-04 18:02] #39 closed

[2017-12-07 15:00] akonradi opened #41 "Generated C++ gets put in go_package path"
When generating C++ code for .proto files that have a `go_package` defined, the `go_package` path is used as the output path instead of the path to the .proto file.

[2017-12-07 18:54] htuch opened #42 "Cross package enum validation is broken for Go and C++"
See https://github.com/htuch/protoc-gen-validate/tree/enum-other-package (run `make bazel-harness`).

For Go, the issue is that the imports in `.validate.go` do not include the package where the enum is located, `tests_harness_cases_other_package.TestEnum_name`. i.e. `test_harness_cases_other_package` is missing. This support can be added to `templates/go/file.go` with something like:

[code]

How

[2018-01-01 16:17] baranov1ch opened #47 "Return list of validation errors instead of first failed"
Given that one wants to present validation errors to some client, it would be more useful to list all validation errors

[2018-01-01 16:19] baranov1ch opened #48 "Add proto field name to validation error"
Right now, only go field name present. If this validation error, for instance, is used to construct rpc validation error message (like google.rpc.BadRequest), it will be better to put field name from protofile.

[2018-01-17 00:24] kyessenov opened #52 "Support for gogoproto"
It seems that this tool only supports the standard goproto code generation output. I have noticed the following deviations for gogo:
- disregard of `go_package` annotation that allows multiple proto files to be combined into one package, to avoid circular dependencies between packages
- no support for gogoproto code generation optimization annotations:
  + `gogoproto.nullable` changes a pointer to

[2018-01-17 01:30] rodaine commented on #52
This is probably an oversight in the template, not using the correct package value. I can look into this.

I haven't worked with gogoproto, so I don't have specifics here, but I'd say we should treat this is a different language target since it deviates in some fundamental ways from the official protoc-gen-go output. A lot could be reused between the two, though.

[2018-01-19 02:19] kyessenov commented on #47
Is there a reason why errors are not aggregated in the current design?

[2018-01-19 18:09] rodaine commented on #47
The idea was to fail fast on the first invalid field (fast and closed), mostly because clients can't typically take an action based off the error without developer intervention. That said, I definitely see the value in collecting them to make said developer's debugging easier. Do you see this being a configuration option or always on?

[2018-01-19 22:18] kyessenov commented on #47
I think "always on" makes sense since validation is fast, and the client can pick whether to use the first error or all errors. We can use https://github.com/hashicorp/go-multierror or just write a new one for error aggregation and error metadata for go.

[2018-01-19 22:26] rodaine commented on #47
Don't want to take on dependencies we don't need. We can generate it as we currently are.

[2018-01-22 19:07] rodaine opened #53 "Well Known Regex Validation"
Re: https://github.com/envoyproxy/envoy/pull/2420#discussion_r162995905

Add well known validation rules for regular expressions. On the Go side, supporting RE2 is a nominal effort, and likewise if the C++ code uses RE2 as well. Otherwise, we'll need to look into support for PCRE/POSIX

[2018-01-31 18:36] rmichela opened #54 "Java code generation"
What would it take to add Java code generation to protoc-gen-validate? Looking at the code, it looks like

* Implement a new set of java-specific templates in /templates/java
* Add tests

Is Java support something you are interested in?

[2018-01-31 18:45] akonradi commented on #54
Yeah, you'll need to
- create java code templates
- create a new harness under `tests/harness/java` and add it to `tests/harness/executor/harness.go`

Worth noting: the test harnesses report report success or failure, but you can request that the executor ignore failure on a case-by-case basis. We currently do this for the C++ code because not all the validation code is implemented. See `tests/har

[2018-02-02 07:11] xiaolanz opened #56 "Trouble to run with the example"
Hi, I'm trying PGV using the example provided. However, I got the following error while attempting to get the generated output.

$ protoc -I . -I /Users/xiaolan/go/src/protobuf-3.5.1/src --go_out=":../generated" --validate_out="lang=go:../generated" example.proto
2018/02/01 23:05:13 protoc-gen-go: error:can't find object with type ..Person
--validate_out: protoc-gen-validate: Plugin failed with st

[2018-02-22 09:48] srenatus opened #61 "Add UUIDv4 to well-known formats"
Heya! First, thanks for working on PGV, I like it a lot. 👍

It would be nice to be able to say
[code]
instead of
[code]
What would you think? I'd be happy to contribute that. 😃

[2018-02-22 16:54] rodaine commented on #61
I think that'd be great! Feel free to submit a PR or I can take it on when I get some free time. 😁

[2018-02-26 15:32] srenatus commented on #48
I'd like that a lot! Anyone working on this?

[2018-03-12 09:58] srenatus opened #62 "make validate.Module() importable"
Hey there!

Thanks again for this lovely plugin. 🎉

I've just run into a road block with testing some `protoc`-related stuff via `go test`. Specifically, I haven't found a way to run the `validate` module from code, as I cannot import it:

Trying to do
[code]
gives me
[code]

By any chance, would you agree to a PR moving that module into `validate/`?

[2018-03-12 15:59] rodaine commented on #62
Sure! I don't see why not.

[2018-03-13 19:48] bruth opened #64 "[feature request] Validate should collect all errors before returning"
The example in the README shows that `Validate` stops on the first error that occurs, however it would be more useful to gather the full set of errors and return it rather than just the first in the case of multiple errors.

A basic example:

[code]

This enables collecting all errors to be reported as well as inspection if needed:

[code]

[2018-03-13 20:23] rodaine commented on #64
Duplicates #47

[2018-03-13 20:23] #64 closed

[2018-03-13 21:49] bruth commented on #64
Sorry for the dupe! Missed that when I was looking through the issues. But glad to see it being considered.

[2018-03-14 17:44] #62 closed

[2018-03-16 03:03] winguse opened #65 "please add `option java_package`"
I am working on envoy data plane on top of scala and I found issue when because of packages' naming conflict.

[code]

so I suggest to have `option java_package = "lyft.proto.validate";` in this project.

[2018-03-21 00:11] awreece opened #67 "enum: fail to import cross packages"
If your proto files are in different packages, the generated code does not correctly import the packages it needs. I noticed this with enums. Here is s simple test case:

[code]

[code]

run with:

[code]

You'll note that the generated code imports `foo`:

[code]

But does not import it. This is because the imports is currently static: https://github.com/lyft/protoc-gen-validate/blob/master/templ

[2018-03-21 00:16] awreece commented on #67
I don't really have the context necessary to offer fixes:

- I notice that that `module/validate.go` ignores its `packages map[string]pgs.Package` argument -- as a first blush, it looks like we could just emit the import for those packages. Even if this packages map is what it appears to be,  this approach won't _quite_ work -- we're liable to get unused imports that way.
- I only noticed this iss

[2018-03-21 00:26] rodaine commented on #67
Thanks for the report! Definitely is a bug. We can get the import dependencies from the messages to know which to import. We're doing this correctly for cross-package [messages](https://github.com/lyft/protoc-gen-validate/blob/master/tests/harness/cases/messages.proto#L26), enums must be an oversight.

[2018-03-21 00:41] awreece commented on #67
It looks like for messages you just call `.Validate()` on the message without needing to import. Do you mean that `protoc-gen-star` supports a better way to do this?

[2018-03-21 00:50] rodaine commented on #67
Ah you're right about the messages. Each entity returned by PGS does have an Imports method that tell you what packages it depends on, so we can obtain pretty easily. The difficulty arises where an enum field may not necessarily have validation rule applied, so we don't emit any code and the import would be invalid. There'd need to be some preprocessing to ensure it's used.

[2018-03-21 00:53] awreece commented on #67
Alternatively, postprocesing to remove it -- I notice `protoc-gen-star` hints at a `goimports` post processor but only offers a `gofmt` one.

[2018-03-21 00:59] rodaine commented on #67
Ah yes that would likely be simplest if possible, but goimports only works well from within the GOPATH. If generation is happening outside of it for whatever reason (or out of order in terms of dependencies), it can get a bit hairy.

[2018-03-21 01:12] awreece commented on #67
Ah, dang. We should probably do this within protoc-gen-star , then, which makes it a bit harder for me contribute

[2018-03-29 16:31] msorens opened #68 "Escaping regex asterisk (per RE2 syntax)"
With a regex pattern including a `\*`  protoc returns "Invalid escape sequence in string literal."
Thinking it might need an extra level of escaping, tried `\\*` which got through the generation, but in the generated output, the regex now includes: `\\\\*` which is not the desired output.

The only workaround my team has found to escape a literal asterisk is `[*]{1}`. That works, but it is cumbers

[2018-04-03 19:43] #68 closed

[2018-04-13 11:52] glerchundi opened #71 "feature request: javascript/typescript support"
Are you open for a PR supporting javascript/typescript?

[2018-04-14 21:34] bruth opened #72 "Support for google.protobuf.Struct WKT"
Link to [Go source](https://github.com/golang/protobuf/tree/master/ptypes/struct). I presume the behavior would be similar to a map or at least have the `struct.required = true` option.

[2018-05-09 19:12] tflecht opened #74 "Customized error messages on validation failures"
Is it possible to specify a custom message for validation failures? For example, if a min_length validation fails, I would like to return a reason that doesn't reference 'runes'. Or be able to understand the error message returned is a minimum length violation, and translate that to my own messaging.

I don't see a way to do either; i don't see a way to specify a custom message in the validation o

[2018-05-16 19:21] vielmetti opened #75 "Port to arm64"
In https://github.com/envoyproxy/envoy/issues/1861#issuecomment-389630695 ,  @moderation is attempting a port of Envoy to arm64. After getting pretty far they got stuck in a dependency on lyft/protoc-gen-validate.

I suspect that one of the issues is a hardcoded dependency to arm64 binaries in the build_container script at

https://github.com/lyft/protoc-gen-validate/blob/master/scripts/build_cont

[2018-05-16 19:57] vielmetti opened #76 "Dependency on "context" means that minimum version of Go is >= 1.7"
An attempt to build with Go 1.6.3 (as provided by Ubuntu 16.04 LTS) fails with

[code]

If there is a minimum version of Go required for a successful build of `protoc-gen-validate`, it should be included in the README notes.

[2018-05-16 23:09] rodaine commented on #75
Hm, that script is only run in the context of building the Docker image for the purposes of testing. However, for Envoy and in general, PGV uses Bazel. I'd look at those build rules and ensure that they are compatible with arm64. Will be glad to help if you can pinpoint the issues!

[2018-05-17 01:14] moderation commented on #75
As @rodaine points out the container build script isn't the source of the problem. I expect the issue is somewhere in https://github.com/lyft/protoc-gen-validate/tree/master/bazel. There are bunch of work arounds for since fixed issues and some of the dependencies are quite old. Still digging.

[2018-05-17 01:55] msorens commented on #68
Sorry for the time lag in responding, but I had lost my link to get back here.
I am puzzled how you can consider this working correctly. If I use `\\*` the generated output has `\\\\*` rather than the correct `\*`. So I am unable to write a regular expression that uses an escaped asterisk. What am I missing?

[2018-05-17 17:31] akonradi commented on #75
@moderation and I chatted offline and it looks like the current blocker is a bug in rules_go repository's support for arm64 go toolchain versions. The issue is that if [repository_ctx](https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html).os.name is 'linux', there's no way to set the host as `linux_arm64` - it defaults to 'linux_amd64'. See
 https://github.com/bazelbuild/rules_

[2018-05-17 18:57] rodaine commented on #68
Added a test case with that pattern here: https://github.com/lyft/protoc-gen-validate/pull/69/files#diff-6f4c21e9cfbf44fda8953bcb3d761c8eR19
And tested here: https://github.com/lyft/protoc-gen-validate/pull/69/files#diff-5b5cdcf32bb5891b9d9de589401adc99R756

Unless I'm missing something?

[2018-05-18 04:40] msorens commented on #68
OK, I was just having a brain freeze. PGV does generate `\\\\*` as I stated -- but that is in the error message it generates. In the generated regexp, it generates `\\*`, which is correctly what go needs to match against an asterisk. Sorry for the confusion, and thanks for a great utility!!

[2018-05-18 05:10] rodaine commented on #68
Ah interesting. Still a bug, since it's certainly misleading. Will get a patch out for that to not double encode! Thanks for the report and I'm glad you're using it :)

[2018-05-21 16:09] mancini0 opened #77 "Unable to build envoy behind a proxy"
I'm encountering the following error when building envoy behind a proxy, I believe the issue is due to dependencies of protoc-gen-validate.

ERROR: /usr/mancini/.cache/bazel/_bazel_mancini/b1b7ee4f2abe773f993beb4c85591835/external/com_lyft_protoc_gen_validate/BUILD:18:1: no such package '@com_github_golang_protobuf//ptypes/wrappers': failed to fetch com_github_golang_protobuf: # cd .; git clone ht

[2018-05-21 18:03] htuch commented on #77
@mancini0 can you followup in #bazel on our Slack? I think you'll find folks who can help you there.

[2018-06-06 23:18] moderation commented on #15
In trying to compile Envoy for aarch64 I attempted to upgrade the rules_go dependency to https://github.com/bazelbuild/rules_go/releases/tag/0.12.0. This generates the following error which is caused by lyft/protoc-gen-validate. You can replicate the exact error in building this library with the following change to `WORKSPACE` and building with `bazel build //:protoc-gen-validate`
[code]
[code]
Th

[2018-06-11 23:54] szyhf commented on #67
That case the same problem for me ~

[2018-06-12 00:09] szyhf opened #79 "[Suggest] About string validate"
Hi:
While validate string, for example a token of 32 char in [a-zA-Z0-9], if set proto like :

[code]
the generate go code will be like :

[code]
The vaildate of `pattern` will always called before length check, if it can always provide validate for low cost before high cost would be nicer.

ps: is there any possibility to provide a `len` field instead of `max_len:32, min_len:32`?

Thanks a lot!

[2018-06-12 00:17] rodaine commented on #79
Hey! In your case above, I'd recommend dropping the length rules as you're already encoding that in the pattern (the `{32}` bit). But generally, I agree that the regex rule would be more performant after the others.

As for a `len` (and `bytes`) exact rule, that's totally reasonable.

[2018-06-12 00:20] szyhf commented on #79
Yeah, what I do now is only using the `regex rule`~

[2018-07-01 08:33] rwlincoln opened #82 "Add support for import_path parameter"
The `protoc-gen-go` plugin supports an `import_path` parameter defined as

https://github.com/golang/protobuf#parameters

The package name is set by `protoc-gen-star`:

https://github.com/lyft/protoc-gen-star/blob/f3b83fca61817e55058744eb1a3c8e2e95a0dada/gatherer.go#L54

The `GoPackageName` method is defined in `protoc-gen-go`, but the `import_path` parameter does not seem to get passed through:

[2018-07-04 00:15] kyessenov opened #83 "repeated inlookup failing to build"
Current version fails to produce valid gogo code for:
https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/accesslog/v2/accesslog.proto#L164

[2018-07-04 00:15] kyessenov commented on #83
/cc @davecheney need to fix this first to get the build working in go-control-plane

[2018-07-04 00:18] kyessenov commented on #83
Also noticed this:
[code]

[2018-07-05 20:22] rodaine commented on #83
@junr03 I think this is related to your PR, want to take a look?

[2018-07-05 20:29] junr03 commented on #83
@kyessenov this is the related PR https://github.com/lyft/protoc-gen-validate/pull/78/files. How is it failing in gogo? How should I repro? I can take a look tomorrow morning.

[2018-07-06 00:39] kyessenov commented on #83
The problem might be present for go, too. Try `make kitchensink`, as in the above.

[2018-07-06 18:43] kyessenov commented on #83
I forgot to rebuild my binary... I'll take a look at why go/gogo are different here. The templates look the same to me.

[2018-07-06 18:45] kyessenov commented on #83
OK, resolved by updating to master. Sorry for the noise.

[2018-07-06 18:45] #83 closed

[2018-07-23 20:03] anirudhmurali opened #85 "Support for validation of NaN"
Support to capture and validate NaN values in: https://github.com/lyft/protoc-gen-validate/blob/master/validate/validate.proto

Reference: https://github.com/envoyproxy/envoy/pull/3905

[2018-07-31 18:58] zanes2016 opened #89 "proto package names should not be mixed in the same directory"
We're getting a PGV error in https://github.com/envoyproxy/envoy/pull/3949#issuecomment-409327245 of the following:
[code]

This check exists at https://github.com/lyft/protoc-gen-star/blob/f3b83fca61817e55058744eb1a3c8e2e95a0dada/gatherer.go#L114.

Is there a way to turn this check off?

[2018-08-02 15:13] ryan-ju opened #91 "Nested field validation?"
It seems the generated code's `Validate()` only validates the current object.  It should recurse into nested fields too.

[2018-08-06 18:17] #56 closed

[2018-08-06 18:38] rodaine commented on #91
Hi @ryan-ju thanks for the report. In what language are you seeing this behavior? Do you have a reproducible example?

There are definitely tests that cover this behavior: https://github.com/lyft/protoc-gen-validate/blob/master/tests/harness/executor/cases.go#L920-L939

[2018-08-06 18:39] rodaine commented on #89
Hi @zanes2016 it's a limitation of protoc-gen-go, which protoc-gen-validate is built on top of (via protoc-gen-star). I'm currently working on [changes to protoc-gen-star](https://github.com/lyft/protoc-gen-star/issues/28) that addresses this.

[2018-08-15 12:38] htuch opened #95 "Maximum depth annotation for google.protobuf.Struct"
Already discussed offline with @rodaine, but it would be nice to have an annotation that indicates the maximum depth in a WKT Struct field. This allows us to bound stack depth on recursive methods that operate on fields of this type, see https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=7938 for a fuzz failure that can occur if this isn't done.

[2018-08-16 22:19] anaganir commented on #54
@rmichela Have you gotten around implementing any Java code generation for this?

[2018-08-30 17:04] htuch opened #97 "Validate Duration fields in PGV"
Today in Envoy, we validate `Duration` WKTs for range sanity in https://github.com/envoyproxy/envoy/blob/aa4481e6b52272242b8194e32c28c180d0218d0c/source/common/protobuf/utility.cc#L213.

Ideally, we should do this in PGV, since we want to check this at the same time as the rest of proto validation; it's sometimes done much later with the existing Envoy checks.

This issue will track adding such su

[2018-09-05 20:24] maros7 opened #98 "String OR validation"
Is it possible to validate a string field that should be either empty (len == 0) or of len == 2. I don't see how that could be done today. Or am I mistaken? Would you accept a PR for such a feature?

[2018-09-10 00:13] bplotnick opened #99 "Add back grpc c++ support"
We used to be able to pass in `use_grpc_plugin` to `pgv_cc_proto_library` until #92. This is useful for c++ applications talking to Envoy.

You can kind of see a use-case in this PR that i let fall by the wayside: https://github.com/envoyproxy/envoy/pull/3857/files

It'd be nice to have this back in some way.

[2018-09-11 17:45] rodaine commented on #99
@sesmith177 is this related to your bazel changes, perhaps?

[2018-09-11 18:10] #79 closed

[2018-09-11 18:14] rodaine commented on #98
Hey! In this case, I'd normally recommend the `StringValue` WKT since you're really wanting to specify is that the field is optional, but otherwise must be 2 chars. If that's not an option, it might make sense to a do a `len_in` rule. Long term, we will likely be adding a basic predicate/expression syntax to describe these more complex rules.

[2018-09-11 19:27] sesmith177 commented on #99
Yep, it looks like `use_grpc_plugin` was handled in the `protobuf.bzl` [here](https://github.com/protocolbuffers/protobuf/blob/master/protobuf.bzl), and when we broke the dependency on that file, the functionality did not make it over

[2018-09-12 12:14] maros7 commented on #98
Hey. Yes, of course. StringValue will work just fine in this case. Thanks for the suggestion.

[2018-09-12 19:26] #98 closed, assigned to nobody

[2018-09-21 08:57] veqryn opened #102 "Omitempty? Or some way to not validate default/zero-value?"
Just about every single validation library I've seen in golang has let me opt out of validating a field if it is empty / the zero-value.

For example, here is what several common validation libraries use:
[code]

This means:
Validate ID is length 32 and not empty.
If CountryCode is not empty, validate the length is 2.
If Size is not zero, validate the length is greater than 10.

Can we please have

[2018-09-21 19:09] rodaine commented on #102
Hey! Thanks for the report. This is pretty much a generalization of #98, and totally a reasonable addition. If you can, the WKTs carry more semantic weight in describing an optional field, but understandably it makes the data structure more complex.

[2018-09-21 20:29] veqryn commented on #102
@rodaine Thx, but two questions:
1. Is this something being presently worked on?
2. What is a WKT and can you give an example of a proto3 file using it with validation rules to accomplish what I need above?

[2018-09-24 18:17] rodaine commented on #102
1. Nope, but it's a reasonable feature, so nothing's blocking it other than time/prioritization.
1. WKT = [Well Known Type](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf). PGV [supports](https://github.com/lyft/protoc-gen-validate#well-known-types-wkts) them as if they were the scalar values, but skips validations if the field is unset.

[2018-09-24 20:58] veqryn commented on #102
Thanks.
I guess the well known types you are referring to are the 'wrapper' types.
I don't think we want to use those because we don't want to have null's to deal with (we've specifically built our api around proto3's way of treating empty values the same as values not sent).  It would also change our api (including our rest gateway api).

[2018-09-26 16:37] vielmetti commented on #75
The upstream issue on bazel has been resolved.

[2018-10-01 00:46] shouichi opened #106 "Python Support"
Any plan to support python or do you accept python support PR?

Thanks for the awesome project!

[2018-10-01 07:43] Fleshgrinder commented on #61
Why are you sending UUIDs as strings? Shouldn't they be sent as `bytes` or two `uint64` fields? Seems like a waste of space. Sure, one can validate that it is version 4 but I'm not convinced that this actually matters.

[2018-10-01 07:48] Fleshgrinder commented on #53
Wouldn't it be possible to leave the decision to consumers? Something along the lines:

[code]

More specific regular expressions would override the _generic_ pattern and the interpretation of the options would be up to the code generator. I'm sure there are other compositions possible that make it nicer to use in Proto but the general idea of mine should be clear by this example.

[2018-10-01 18:19] rodaine commented on #61
While there are indeed performance concerns with using a string in this case over the alternatives, you can't always modify an existing system. The well-known rule for UUIDv4 could also be applied to the bytes type [(similar to what we do for the IPs in the last bulletpoint)](https://github.com/lyft/protoc-gen-validate#bytes). I don't recommend splitting something atomic like a UUID across multipl

[2018-10-01 18:31] rodaine commented on #53
This could be useful for refining the existing regex checkers for arbitrary string/byte fields, but this particular validation is to ensure the provided string value is a valid regex pattern. Something similar could be done for that rule, but keeping it generic is important since -- for example --even if it's a rust style regex pattern, there's no surefire way to verify in (say) python that the pa

[2018-10-02 09:33] Fleshgrinder commented on #53
Only the actual code generators can verify if a given pattern is valid. It would be up to the users to write patterns that are valid for their generator and language. I don't see a way how you could ensure that in this library for all possible languages. The only thing that can be provided is dedicated fields where the patterns can be stored for the actual generators.

The logic in such a generato

[2018-10-02 09:36] Fleshgrinder commented on #61
[code]

It wouldn't be split in the consuming code. However, you are correct about what you are saying. The only problem I have with a WKF for UUIDv4 on strings is that it kind of encourages people to define UUIDs as strings. There is always this misconception that UUIDs are strings because people have a hard time understanding what it really is.

Providing a WKF for bytes would be a different sto

[2018-10-09 06:46] rwlincoln opened #107 "Add no_sparse rule for repeated message fields"
[Map fields](https://github.com/lyft/protoc-gen-validate#maps) with message values support:

[code]

However, the `no_sparse` rule is, arguably, more clear:

[code]

Similarly, [repeated](https://github.com/lyft/protoc-gen-validate#repeated) message fields support:

[code]

Would it be reasonable to add a `no_sparse` rule for repeated fields. For example:

[code]

[2018-10-15 02:00] freman commented on #52
Tis a good start to be sure to be sure, but I have run into an issue with `(gogoproto.customname)`

[code]

[2018-10-15 17:56] kyessenov commented on #52
`customname` is not supported last time I checked.
It should not be hard to add extra handling for `customname`. Seems like you might need to override `accessor` here https://github.com/lyft/protoc-gen-validate/blob/master/templates/goshared/register.go#L88.

[2018-10-29 19:47] rodaine commented on #15
@htuch this is resolved, right?

[2018-10-29 19:48] rodaine commented on #42
Resolved by #110

[2018-10-29 19:48] #42 closed

[2018-11-01 08:37] veqryn opened #113 "Any proto file that uses this package can't generate PHP code because this project is still proto2"
Our servers are all in golang, but some of our clients are in PHP, so we generate PHP libraries for all of our proto files.

If you use protoc-gen-validate, you would have this import in your proto file:
`import "protoc-gen-validate/validate/validate.proto";`

If you generate PHP out of your proto file, you will end up with a file that contains this:

[code]

If you try to use this PHP code, you w

[2018-11-01 15:05] ahetmanski opened #114 "WKT StringValue doesn't support validation"
**This is bug.**

**What I try to solve**
Add optional `domain_name` field with validation for hostname validity.

I found that this lib doesn't support omitting optional value for generic `string` type: #102.

**Generic string type**
[code]
[code]
This is ok, but it doesn't support empty value omitting.

Then I tried to use WKT `google.protobuf.StringValue` type for `domain_name` field. As this l

[2018-11-01 15:32] ahetmanski opened #115 "Add Mac address validation to string well-known format"
**This is feature request**
Add Mac address validation for `string` type using next Golang code.
[code]

[2018-11-01 15:53] akonradi commented on #115
Why not use the existing regular expression support?

[2018-11-01 16:54] ahetmanski commented on #115
Sure, that's what I did as workaround. But due to your logic `protoc-gen-validate` library shouldn't implement any well-known formats validations. All of them could be done with regexp.  Just remove all of them 😆 But it is not user-friendly I think 😄

**I see next advantages from using golang standard library for mac validation:**
- Usage of `net.ParseMAC()` gives great improvement in code readabi

[2018-11-01 17:31] akonradi commented on #106
I don't think any of the maintainers are currently working on Python support, but you're welcome to make a PR. Is that something you're interested in?

[2018-11-01 17:34] akonradi commented on #115
I'm not opposed to including rules for well-known formats, my concern is about cross-language support. The Go standard library is a lot more comprehensive than the C++ standard library, which I don't believe includes any sort of `ParseMAC`-like utility function. To implement the validation in C++, we'd need to either depend on a library that includes such a function or write our own utility functi

[2018-11-01 18:37] rodaine commented on #114
Thanks for the report! This indeed looks like a bug in the logic used to determine whether or not to emit those methods; it's probably ignoring WKTs.

[2018-11-01 19:02] rodaine commented on #113
The PHP plugin's contributors plan to eventually add [proto2 support](https://github.com/protocolbuffers/protobuf/issues/3623), but if we were to ignore that, this would likely require a major breaking change for this project.

We've run into this as well internally with PHP (not just extensions, but also legacy protos) that required us to eschew the official plugin and instead used https://github

[2018-11-01 19:33] rodaine commented on #107
At least on the Go side, you cannot have a sparse repeated message (whereas this is allowed for the map elements):

[code]

results in:

[code]

I can't seem to find any documentation that specifies this, and haven't tested on other languages, but this was why it wasn't included.

[2018-11-01 19:36] veqryn commented on #113
Does this project plan to eventually upgrade to proto3?

Obviously it could be a breaking change, as most major versions bumps are, but I assume you would want to do it eventually...

[2018-11-01 19:42] rodaine commented on #113
There's no strong desire to upgrade the extensions from proto2 to proto3 at the moment. Also, the extensions rely on the descriptors.proto which are defined in proto2 and are core to the entire ecosystem. Wouldn't you run into issues once you reach that level as well?

I'd rather wait for the proto2 syntax to be supported by the official PHP plugin than break current users of this tool.

[2018-11-01 19:44] rodaine commented on #77
Closing as I believe this has since been resolved.

[2018-11-01 19:44] #77 closed

[2018-11-01 19:45] rodaine commented on #71
Totally!

[2018-11-01 19:56] veqryn commented on #113
I wasn't aware that descriptors.proto was still proto2.  You'd obviously have to wait on that to get upgraded to proto3 first, before you think about upgrading this library.  This issue can be tabled til then I suppose.

[2018-11-02 04:32] ahetmanski commented on #115
@akonradi, @rodaine
Thank you guys for explanation!

Looks like this is a common issue with cross languages libraries. As a proposal I think that the good approach here is to have different documentation for each language with different well known validators support. If user wants to generate code with unsupported well known validator for some specific language, library could generate code which r

[2018-11-02 10:03] antegulin commented on #71
@glerchundi Are you planning to work on this?

[2018-11-02 19:10] rodaine commented on #115
Yep! We do that already 😅 https://github.com/lyft/protoc-gen-validate/blob/master/templates/cc/register.go

[2018-11-06 09:16] glerchundi commented on #71
@antegulin probably in January but we need to first discuss the approach of course:
* Only pure javascript?
* Typescript is typically used in an Angular application which usually per-property validations were better than a one and only `Validate` method.
* Maybe include this per-property in pure javascript and then type definitions on those?
* What to do with RE2 validations? #53

And probably muc

[2018-11-06 09:31] glerchundi commented on #71
/cc @aberasarte

[2018-11-12 14:17] #107 closed

[2018-12-05 18:56] rmichela commented on #54
Remaining work. @rodaine anything else?

- [ ] Documentation
- [ ] Explicit validator index
- [ ] Publish jars to Maven Central
- [ ] Publish PGV bin to Maven Central (like protoc artifacts)

[2018-12-05 18:58] rodaine commented on #54
Yep! That about sums it up.

There seems to be an unrelated breaking change (seems like the C++ bazel rules' API has changed). https://travis-ci.org/lyft/protoc-gen-validate/builds/463981249#L2527

[2018-12-05 19:07] rmichela commented on #65
Perhaps we can do this as part of #54

[2018-12-11 00:22] rmichela opened #124 "Gopkg.lock has conflicts"
https://github.com/lyft/protoc-gen-validate/blob/master/Gopkg.lock#L69-L74
https://github.com/lyft/protoc-gen-validate/blob/master/Gopkg.lock#L94-L112

[2018-12-12 19:58] rmichela commented on #54
@akonradi Can you take a look at the above PR's 😁

[2018-12-12 20:36] #65 closed

[2018-12-13 09:35] rmichela commented on #54
How do we want to handle releasing the Java bits to Maven? I don't have permissions to push to the `com.lyft.protoc-gen-validate` namespace in Sonatype.

There's a `RELEASING.md` file in the java directory. The steps _should_ work, although it's always a little dicey the very first time.

[2018-12-13 11:25] rmasclef opened #126 "Allow conditional validation on embed messages"
Is it a good idea to have conditional validation on embed messages ?

Here is an example
[code]

[2018-12-13 21:36] rodaine commented on #54
We haven't quite formalized a process for releasing to Maven Central (very few OSS Java projects), so working to get that squared away. Should know by next week what's needed to get this up there.

In the meantime, would it makes sense to publish the jar as a GH release?

[2018-12-13 23:06] rmichela commented on #54
Doing a github release makes sense, once the last few PRs are merged. We need pick a release version to put in the POMs for the git sha we tag.

Do we call PGV-Java 1.0.0, or 0.1.0?

[2018-12-17 11:10] tommyJimmy87 opened #128 "Validation over multiple fields"
I have a message like this :

[code]

I would like to validate if in the json there's  at least one item of the 2 repeated and if in the json the field is called really `add` or `remove` (check for example the camel cases).

[code]

and not like this for example:

[code]

[2018-12-17 20:35] rodaine commented on #54
0.1.0 seems good. I don't think we'll want to cut over to 1.0.0 just yet (perhaps after the python support is completed).

[2018-12-18 18:30] #41 closed

[2018-12-19 03:55] htuch commented on #128
At some point, we should consider switching to a more expressive language like https://github.com/google/cel-spec.

[2018-12-19 10:54] lizan opened #130 "support rules.map in C++"
https://github.com/lyft/protoc-gen-validate/blob/master/templates/cc/map.go#L7

causes: https://github.com/envoyproxy/envoy/issues/5324

by default PGV should also validate map values if they are message type.

[2018-12-20 17:20] tsandall commented on #128
Thanks for the mention @moderation. From a language standpoint, Rego is up to the task, but since we don't have a C++ implementation (today), it's probably not a great fit. Perhaps once we finish the Wasm compiler, we could revisit this... :thinking:

[2018-12-27 20:33] rmichela opened #133 "PGV at gRPConf?"
CNCF is hosting [gRPConf](https://events.linuxfoundation.org/events/grpconf-2019/program/) on March 21st in Sunnyvale, CA and has an open CFP. We should submit a joint presentation on PGV for the Ecosystem and Tooling track. Thoughts?

[2018-12-27 20:39] rmichela commented on #54
@rodaine There are a few more PRs to tidy things up and then we are ready to release. I'd love to get PGV-Java out in time for gRPConf #133 if possible.

[2019-01-02 19:38] rodaine commented on #128
Hey! I'm not sure if this has been discussed on here or not, as @htuch mentioned the plan is to include a predicate language that is only evaluated by the plugin (so no issue wrt C++ there @tsandall), the emitted code would be generated from that and would be language implementation specific.

This hasn't quite been prioritized yet, and we haven't shopped around/spec'd what this would look like. M

[2019-01-02 22:10] rodaine commented on #133
That would be awesome! Feel free to shoot me an email so we can discuss.

[2019-01-02 22:15] rodaine commented on #54
Sounds good, hunting down folks to figure out the Maven Central issue. Will keep y'all posted.

[2019-01-07 07:00] mjduijn opened #135 "Code generation for transitive dependencies"
The pgv_java_proto_library rules require you to manually specify transitive dependencies while the native proto library rules don't.
If file `a.proto` imports `b.proto` which imports `c.proto` the following build rule for a suffices

    proto_library(
        name = "a_proto",
        srcs = [a.proto],
        deps = [":b_proto"],
    )

However for the validation rules you need to manually speci

[2019-01-07 07:11] mjduijn opened #136 "Gazelle required when using //:protoc-gen-validate with Bazel"
When using one of the rules in `//bazel:pgv_proto_library.bzl` from another workspace you need to specify Gazelle as a dependency (in that workspace). While I realize a lot of people using Bazel automatically import Gazelle, it's really only useful on go and proto projects.

Because the rules use `//:protoc-gen-validate` and in that same file the following load statement occurs: `load("@bazel_gaze

[2019-01-07 13:37] akonradi commented on #135
Yes, there's been some discussion around using aspects for C++ generation to avoid exactly this. Support in Bazel for allowing Starlark rules to create compilation and linking actions is [still in progress](https://blog.bazel.build/2017/03/07/java-sandwich.html), though, hence the lack of movement over here. It appears that the corresponding Java actions are [fully supported](https://blog.bazel.bu

[2019-01-08 08:47] mjduijn commented on #135
Ah I didn't realize custom Starlark compilation steps were going to be necessary.

Yes I would like to help out. I have some experience with Bazel but no prior experience writing aspects, so any tips or referrals to reference impls would help greatly.
For now I'm thinking the rules haskell [proto aspect](https://github.com/tweag/rules_haskell/blob/9e20528010e096290fdda61df7100ee221d31cad/haskell/p

[2019-01-08 14:02] akonradi commented on #135
That Haskell aspect looks like a great place to start. When writing the Java generation rules, I ran into trouble with tracking outputs; apparently the name of a .java file generated from a .proto can [depend on the contents of the file](https://github.com/protocolbuffers/protobuf/blob/d9ccd0c0e6bbda9bf4476088eeb46b02d7dcd327/src/google/protobuf/compiler/java/java_name_resolver.cc#L46). The soluti

[2019-01-10 18:10] mjduijn commented on #135
After having another look at the error, I discovered that the problem doesn't actually lie with the generated validation code (which I assumed). The transitive dependencies for the Java code are included for protoc, but not compiled to Java source code. Thus when creating a Java library from the generated Java code, Bazel outputs that it can't because it is missing some Java dependencies.

This pr

[2019-01-11 07:14] rmichela commented on #54
Pinging the remaining three Java-related PRs.

[2019-01-19 06:16] rmichela commented on #133
Abstract submitted. Let's see what happens.

[2019-01-19 06:16] #133 closed

[2019-01-19 06:45] rmichela commented on #54
@rodaine I really want to start using PGV at Salesforce and in the Envoy Java Control Plane. What do we need to do to release PGV java?

[2019-01-19 13:53] ivanjaros opened #137 "Multiple rules?"
I have a map<string, string> that needs to have maximum number of items and each key and value has to be between 1 and 64 characters long.

I tried to use combined syntax and expanded syntax but neither works. I always end up with only last rule being applied.

So for example this:
```map<string, string> labels = 8 [(validate.rules).map.max_pairs = 100, (validate.rules).map.values.string.min_len =

[2019-01-19 13:57] rodaine commented on #54
I've managed to track down the credentials for Maven Central and I'm working with our Open Source team to work out best practices in this vein. We haven't formalized Java releases here (I believe this would be the first non-Android Java project we'd be open sourcing), and we've just wrapped up a review cycle. Should have bandwidth to get this scripted and, if not automated, then at least manually

[2019-01-19 13:58] ivanjaros commented on #137
Ah, my bad. The combined syntax works when each key is standalone and not combined(keys.string). So this will work:

```map<string, string> labels = 8 [(validate.rules).map = {max_pairs: 100, values: { string: {min_len: 1, max_len: 64}}, keys: {string: {min_len: 1, max_len: 64}}}];```

[2019-01-19 13:58] #137 closed

[2019-01-26 10:00] dharmjit commented on #74
Hi, is there a way to do this even if this is not yet developed inside protoc-gen-validate.

[2019-01-27 04:12] dharmjit opened #138 "package name wrong for generated validate code"
I am using below command to generate validate.pb.go files
`protoc --proto_path=api/proto/v1 --proto_path=third_party --go_out=pkg/api/v1 --validate_out=lang=go:pkg/api/v1 endpoint.proto`
The code is generated successfully but the package name is coming as v_1 in the generated code under pkg/api/v1

[2019-01-29 13:59] dharmjit commented on #138
Hi Team, Am I making some silly mistake. Any response on this.

[2019-01-29 16:55] crockeo opened #139 "Segfault on "repeated.items .enum.defined_only""
While working on a [PR for envoy](https://github.com/envoyproxy/envoy/pull/5682) I ran into a reproducible SIGSEGV with repeated enum validation. The error seems to be produced by protoc-gen-star, but is triggered by functionality in protoc-gen-validate, so let me know if I should forward this issue elsewhere.

Context:

1. Running macOS Mojave
2. Running `libprotoc` 3.6.1

To reproduce:

1. Defin

[2019-01-29 20:02] rodaine commented on #139
Thanks for the report! PG* is the framework used to build the plugin, so it's always going to be in the stack, but this error is most certainly in the PGV logic. Will take a look!

[2019-01-29 20:03] rodaine commented on #138
Do you have `option go_package` set in your proto file? If so, what is it's value?

[2019-01-30 07:43] dharmjit commented on #138
Hi @rodaine Thanks, The issue is resolved after using option go_package. Is it mandatory to use this directive?

[2019-01-30 19:41] #139 closed

[2019-02-05 12:49] vtolstov commented on #61
sometimes you need to get string in uuid like rest api, but internally you can use bytes.
So both of methods nice to support

[2019-02-06 10:40] khurshid04 commented on #54
Hello @everyone,

I am implementing API in JAVA with proto, I Like this validation..
But When i have applied plugin in my pom which one is available on README note...
So I have facing versioning error, when I have build the API and not build the project successfully.

I have also one suggestion <executions> open tag is missing on README.
Can you please provide me proper version for ${protoc.versio

[2019-02-07 18:05] rmichela commented on #54
The java artifacts for PGV have not yet been deployed to Maven central. You can run `mvn install` in the `/java` directory to get yourself going locally, but a Maven release is still pending.

[2019-02-11 10:21] glerchundi opened #141 "*: custom validation methods"
I would love to have an extension point so that I can add more validations to the methods/messages/fields. An example that comes to my mind could be:
* Cross referenced validations like: "password" equal to "repeat_password".
* A nested message has the same parent as the original one in a multi-tenant environment. For example:
[code]

I saw the idea to use [google/cel-spec](https://github.com/lyft

[2019-02-11 18:16] rodaine commented on #67
fixed in #110

[2019-02-11 18:17] #67 closed

[2019-02-11 18:23] rodaine commented on #76
fa2d3f01eab3a7a14b86e1e4b1b33440e2f801be

[2019-02-11 18:23] #76 closed

[2019-02-11 18:28] rodaine commented on #138
I wouldn't say it's mandatory (and the naming there might be a bug in how we split names in the PG* library), but it's definitely strongly recommended by the protoc-gen-go plugin to signal what the resulting package name ought to be.

[2019-02-14 10:44] c2nc opened #143 "local import "." in non-local package"
Hey guys... Tell me please why does you a local imports in validation.go files?

For example. I wanna to have a some structure of packages in my API... I did one common go pkg and few packages for services...

In validation go file in service-pkg plugin does:
`import (
	common "."
)`

Ok than I have next compilation error, when use it in micro service package:
`local import "." in non-local packag

[2019-02-16 13:00] #138 closed

[2019-02-19 22:38] rmichela commented on #54
@rodaine Any progress on releasing artifacts to Maven central?

[2019-02-19 22:39] rodaine commented on #54
Will likely be able to get it done by the EOW.

[2019-02-24 14:04] NeoCN opened #146 "error message localization"
is there any plan to support error message localization？

[2019-02-24 17:24] vtolstov commented on #146
Or add ability to provide some marker, to be able to get it and return via rest for my case

[2019-02-25 20:22] LethiferousMoose commented on #54
@rmichela I tried running `mvn install` in the `/java` directory in the interim as suggested, but it ends up failing in `protoc` during the `PGV-Java Validation Harness` tests for reason:
[code]

Have I missed something?

[2019-02-25 21:43] rmichela commented on #54
I think you need to compile and install the go binary `make build` and make sure `$GOPATH/bin` is on your system path.

[2019-02-25 22:20] LethiferousMoose commented on #54
Pretty sure I tried that. But I'll double check.

[2019-02-26 13:12] rvolosatovs commented on #52
I added GoGo support to `protoc-gen-star` directly: https://github.com/lyft/protoc-gen-star/pull/51
Using that functionality I added full support for customname/customtype/casttype/embeded: https://github.com/TheThingsIndustries/protoc-gen-validate/commit/0065acaf05f10558b4d4173f1a109485b2106316
And validation of non-nullable messages: https://github.com/TheThingsIndustries/protoc-gen-validate/com

[2019-02-26 14:39] dnguyen0304 commented on #106
Hey, Lyft Team! I am very interested in this project and think it can have significant impact. Has there been any progress on adding Python support? If not, I would be interested in getting some guidance to open a PR.

(I can continue this next part in a separate issue if you'd prefer)

The project I am working on is in proto2 though. What would be the effort for support protoc-gen for Python in p

[2019-02-26 19:24] ccaraman commented on #106
@rodaine and @dnguyen0304  unfortunately we don't have any bandwidth and haven't made any traction.

Please someone work on this!

[2019-02-26 20:20] dnguyen0304 commented on #106
@ccaraman, is the lack of traction due to specific obstacles such as a lacking value proposition or more the usual competing priorities? It would be helpful understanding if there's trouble garnering buy-in due to a leadership team not believing in the potential impact.

For the record, I think this project has big potential :)

[2019-02-26 20:21] ccaraman commented on #106
Competing priorities :)

[2019-02-26 21:22] dnguyen0304 commented on #141
Is this a supported feature or what would be a possible design? This is an [example from Marshmallow](https://marshmallow.readthedocs.io/en/3.0/extending.html#schema-level-validation), a Python data validation framework.

[2019-03-07 17:11] LethiferousMoose commented on #54
@rodaine Are there any new updates on this?

[2019-03-08 20:38] guavacole commented on #106
Hello! I think that I will be taking on this project.

[2019-03-09 11:32] glerchundi commented on #141
Friendly ping to @rodaine @htuch trying to gather your opinion on this!

[2019-03-11 17:53] rodaine commented on #54
Apologies on the delay, working through some internal issues and I don't have a solid timeline. For now, I recommend building the jar from source if possible; I'll post on this ticket when the situation improves. Thanks!

[2019-03-18 22:18] rmichela commented on #54
Would you be OK if Salesforce forked this project and released only the Java bits?

[2019-03-21 07:54] NeoCN commented on #71
any update on this ?

[2019-03-22 00:01] rodaine commented on #54
Totally cool! Will you keep you posted when we release an "official" version.

[2019-03-22 00:08] rodaine commented on #71
I think pure JS with TS stubs is the way to go, if that makes sense.

For consistency with the rest of the languages, a single validate is preferred. While some of these implementations fail fast, if desired the function can gather all violations into a single error for per-property introspection. That said, if you want to go beyond that and provide per-property, I think that's fine too.

This isn

[2019-03-22 00:12] rodaine commented on #146
This is currently not planned, but definitely open to adding support.

[2019-03-22 00:18] rodaine commented on #141
We have been noodling about allowing a predicate to be applied to a message that allows inter-field validation rules, however this is a non-trivial effort.

Likely we won't use cel, but rather [go's existing expression parser and syntax](https://golang.org/pkg/go/parser/#ParseExpr), with predefined functions to do just this sort of thing.

[2019-03-22 00:19] rodaine commented on #141
Can you go into more details with what you mean by an "extendable point"?

[2019-03-27 01:16] empirefox opened #153 "support omitempty on field"
This can make validation more clear. Currently `any` omits empty, `bytes` does not.

[2019-03-29 13:05] #135 closed

[2019-04-01 19:46] rmichela commented on #54
This is a stretch, but what if we relocated PGV outside the Lyft namespace? We could re-home it under gRPC-Ecosystem. We wouldn't need to publish artifacts under the Lyft brand and could free the project from Lyft's internal processes.

@rodaine What do you think?

[2019-04-01 20:45] rodaine commented on #54
We're (@mattklein123 and @twoism) discussing this internally. I think that's not a terrible idea and should unblock a lot of these things. We'll keep you posted!

[2019-04-01 21:35] mattklein123 commented on #54
@rmichela per @rodaine let's figure out a solution here. Can you help me understand whether if we made you a maintainer and access to CI credentials if you could work on publishing to Maven with your own credentials? Or does it not work that way?

I think we are opening to migrating this project to a new home if that would help. Options are:
1) We can move to envoyproxy org and give you/Salesforce

[2019-04-01 22:42] rmichela commented on #54
Publishing to Maven Central requires [setting up an account with OSSRH](https://central.sonatype.org/pages/ossrh-guide.html) and connecting it to the `com.lyft.protoc-gen-validate` Maven groupId.

Since I'm not an employee of Lyft, I can't just ask for access to the `com.lyft` namespace. If somebody at Lyft sets up the account, I believe they can authorize my OSSRH user to publish artifacts under

[2019-04-01 22:46] mattklein123 commented on #54
@rmichela @rodaine @snowp I'm thinking it makes sense to potentially just move the project. The question then is where to move it?

[2019-04-01 22:54] rmichela commented on #54
I vote for the envoyproxy org. PVG is baked into the dataplane api and the project has a strong affinity for Envoy.

[2019-04-01 23:12] snowp commented on #54
+1 on moving this to the envoyproxy org if that's an option, seems like a good way of decoupling this from Lyft and to giving it a more neutral home

[2019-04-01 23:24] mattklein123 commented on #54
@rodaine any objections? If not I can start the discussion w/ legal. Once we move to envoyproxy we can easily get CircleCI setup, etc.

[2019-04-01 23:52] mattklein123 commented on #54
OK we are go for moving. I will start the legal process and will report back.

[2019-04-02 01:28] derekargueta opened #154 "Validation not catching errors in non-nil sub-messages [GoGo]"
_**This issue uses generated code in the Envoy [go-control-plane](https://github.com/envoyproxy/go-control-plane)**_

I'm writing a simple Go program to read in JSON Envoy configuration components, build the protobuf structs out of them and validate them. When I call validate on the top-level protobuf message, validation seems to not run on an member messages. I can only get validation to trigger

[2019-04-02 18:52] kyessenov commented on #154
There are two issues here:

1. Embedded Any or Structs are not validated since that causes a potentially quadratic unmarshalling cost (for nested Structs).

2. There is an actual bug with using structs vs pointers in gogo, see https://play.golang.org/p/VJb7PuNEQDZ for the boiled-down example

[2019-04-02 20:26] rodaine commented on #154
Exactly as @kyessenov said, validation does not attempt to unmarshal `Any` or `Struct` into its target type. Beyond the complexity issue, there's also no guarantee that the code validating the message has the descriptors or the generated validation code to even perform the operation. Internally, Envoy performs these validations after resolving the configs to their actual message types.

@derekargu

[2019-04-02 21:19] derekargueta commented on #154
@rodaine Since the `Any`/`Struct` part is expected behavior, I can trim this bug ticket down to the pointer/value part (RC not validating vhosts), and open a separate ticket to document the expected behavior w.r.t. `Any`/`Struct`. WDYT?

[2019-04-02 21:20] rodaine commented on #154
Sounds good!

[2019-04-02 21:21] kyessenov commented on #154
You can assign it to me. Should be an easy fix.

[2019-04-02 21:31] #124 closed

[2019-04-02 21:48] derekargueta opened #155 "Document expected behavior for validating Any/Struct types"
If a protobuf message contains an `Any` or `Struct` as one of its members, the validation function won't validate that member due to the unknown type. To get full validation, users need to unmarshal the member into its correct type, then run validation on that.

@rodaine should this go in the README? happy to put a PR.

[2019-04-02 21:52] rodaine commented on #155
The `Struct` is normally (ignoring how its used in Envoy) not associated with a proto message; while an `Any` almost always is. So, I do think there's value in adding this to the `Any` section of the README as a note, but Struct is treated like any other message type. #72 and #95 cover getting special cases in for `Struct` specifically, at which point this can be expanded. Thoughts?

[2019-04-02 21:54] derekargueta commented on #154
Updated the ticket to just the RC->vhost issue. (not sure if `sub-messages` is the right lingo.

[2019-04-02 21:54] rodaine commented on #154
Or, it might be more straightforward to just go with `(&msg.field).Validate()`?

[2019-04-02 21:56] rodaine commented on #154
Added the `non-nil` bit to differentiate, and also specified this only affects GoGo (offiical protoc-gen-go always emits pointers at this time).

[2019-04-04 18:37] mattklein123 commented on #54
OK as you can all see, the repo is now in the envoyproxy org. There is a bunch of work that needs to be done to set this up for CircleCI, get Maven creds working, etc. @rmichela if you are interested/willing to help with this can you join envoyproxy slack and discuss in the #protoc-gen-validate room?

[2019-04-04 18:53] mattklein123 opened #159 "Setup CircleCI"
@envoyproxy/protoc-gen-validate

[2019-04-04 19:06] kyoungkwon opened #160 "Cannot use map.keys.string.pattern and map.values.string.pattern rules together in a single annotation"
When I use map.keys.string.pattern and map.values.string.pattern rules in a single annotation, I can't compile the generated code.
For example, I have the following message definition:
[code]

Then the generated code have duplicate variables with the same name like this:
[code]

Which causes the build to fail with the following error:
[code]

[2019-04-04 19:10] kyessenov commented on #128
I'm working on open sourcing cel-cpp implementation that implements cel-spec in C++. cel-go has also seen some significant progress recently. There's been some prior art on proto contracts, that we could leverage if you're interested.

[2019-04-04 21:28] rodaine commented on #160
Thanks for the report! This is indeed a bug.

[2019-04-04 21:33] mattklein123 opened #165 "Add OWNERS.md"
List maintainers.

[2019-04-04 21:45] rodaine commented on #159
Fixed by #162

[2019-04-04 21:45] #159 closed

[2019-04-05 05:14] glerchundi commented on #128
In case you didn’t noticed, there is a cel-cpp implementation already under
the google’d umbrella:
https://github.com/google/cel-cpp.

On Thu, 4 Apr 2019 at 21:10, Kuat <notifications@github.com> wrote:

[2019-04-05 05:20] glerchundi commented on #128
Ignore me, you’re one of those 🤦‍♂️

On Fri, 5 Apr 2019 at 07:13, Gorka Lertxundi <glertxundi@gmail.com> wrote:

[2019-04-05 22:21] #154 closed

[2019-04-08 19:42] sukruthakittur opened #167 "How does the folder structure work for validate out?"
I have a go project, in the following structure -
- main-module
  - module1
    - proto
      - proto-file1
      - proto-file2

My build commands looks like -
protoc -I . -I $$GOPATH/src -I $$GOPATH/src/github.com/envoyproxy/protoc-gen-validate --go_out=":../generated --validate_out="lang=gogo:../generated" module1/proto/*.proto

This throws an error saying that folder "../generated" does not exi

[2019-04-08 19:44] sukruthakittur commented on #167
I wanted to add a "Help Wanted" label, but couldn't.

[2019-04-09 16:18] rmichela opened #168 "Release Java packages"
Java bindings have been implemented in #54. I have access to the `io.envoyproxy` maven namespace. If we agree it's time, I'll do the release of version `0.1.0`. @rodaine

[2019-04-10 16:36] SecurityInsanity opened #169 "New String Validation "Address""
Currently `protoc-gen-validate` has validators for: "ip address", and "hostname", but not something that is a: "Hostname or IP". This smaller level of validation can lead to some weird error messages (that don't make much sense). For example running [THIS](https://gist.github.com/SecurityInsanity/993ee932619dd8b257c2d877159c9c5f) configuration through envoy validation mode gives you an error messa

[2019-04-11 22:15] rmichela commented on #168
How `java-control-plane` does java releases. https://github.com/envoyproxy/java-control-plane/blob/master/.circleci/config.yml#L36-L51

[2019-04-12 20:23] rmichela commented on #168
For the first Java release, do we want full CI integration like `java-control-plane`, or can I just do a manual push from my laptop?

[2019-04-15 21:46] snowp commented on #168
I think it would make sense to set up CI if that's where we want to end up down the line

[2019-04-16 04:26] rmichela commented on #168
I talked to @joeyb about how he set up automatic promotion for `java-control-plane` with CircleCI. We need to do the following.

1. Create a release bot account like @envoy-java-control-plane-bot, and give it committer rights to this github repo.
2. Generate a fresh GPG signing key, and register its public key with a GPG key registry.
3. Create a Sonatype account with publish rights for `io.envoyp

[2019-04-17 18:41] rangerscience opened #171 "Ruby Support"
Any plan to support Ruby or do you accept ruby support PR?

Thanks for the awesome project!

I'm super excited to use this when and where I can. We're gradually moving towards a microservice architecture where all the APIs are defined in protobuf (which is amazing) but ofc each service has to do message validation on it's own :/

[2019-04-17 23:48] GauntletWizard opened #172 "Running under Bazel creates colliding imports"
I have a protobuf library with many types like:

path/to/type/v1
path/to/type/v2
path/to/another_type/v1

These have non-conflicting importpaths in go, and we're using go_package options to give them unique package names as well, i.e. `github.com/gauntletwizard/foo/proto/path/to/type/v1;type` `github.com/gauntletwizard/foo/proto/path/to/another_type/v1;another_type`

Generation of the proto librar

[2019-04-22 17:45] rodaine commented on #167
The directory specified as the output of any plugin must already exist, but any sub-directories that that protoc must create will be generated automatically. So in the case of `generated`, since that folder doesn't exist initially, protoc fails; for the second case with `module1`, that directory already exists and has no issue generating there. This is true of all plugins.

As for the extension pr

[2019-04-22 17:46] #167 closed

[2019-04-22 17:59] rodaine commented on #172
Thanks for the report!

Appears that the disambiguation needs to happen [here](https://github.com/envoyproxy/protoc-gen-validate/blob/master/templates/goshared/register.go#L303). We're handling the deduplication, but need to work out how to get the package name aliases to be treated uniquely (and properly propagated to where they're used).

[2019-04-22 18:07] rodaine commented on #169
I think the stoi error could certainly be improved. As for an "address" rule, I think that's fine. Just to clarify, are you seeing a discrepancy between `https://google.com` and the `0.0.0.0` hosts? Should the protocol be inlcuded in the host?

[2019-04-22 18:09] rodaine commented on #171
Ruby support isn't planned, but we will be glad to review any PRs adding support. The best place to start is creating the test harness for ruby and then working out from there.

[2019-04-22 18:12] SecurityInsanity commented on #169
We're specifically looking for a rule that would validate: `google.com` & `0.0.0.0` (i.e. no protocol).

I actually took a look into this, and realized we're not validating hostname for the C++ at all. Is there work already going on for that particular issue that I can build on top of? If not I'll probably just focus on adding that too as part of my change.

[2019-04-22 18:16] rodaine commented on #169
I don't think so; the C++ work was fairly MVP (there's still some implementation holes for the full set of rules).

[2019-04-24 17:44] rmichela commented on #54
I'm going to call this finished. Releasing is its own issue now.

[2019-04-24 17:44] #54 closed

[2019-04-26 11:11] wdullaer opened #180 "Does not properly escape go packagename"
The generated go code does not properly escape the packagename in certain cases (which causes an error when the generator tries to run go fmt).

The underlying issue in protoc-gen-star has been fixed in this PR: https://github.com/lyft/protoc-gen-star/pull/56

The Gopkg.toml should be updated to 0.4.10 to pull in this change.

[2019-04-26 15:35] wdullaer commented on #180
I tried to make PR for this, but running `dep ensure` to update the vendored dependencies removes all the BUILD.bazel files, which I don't think is acceptable :(

[2019-04-26 16:54] rodaine commented on #180
You'll also want to run the gazelle target to regenerate them.

[2019-04-26 17:13] wdullaer commented on #180
That target fails, because `buildozer` is not installed.
I am using the docker image supplied in this repo. I don't know this tool. I find references to a python tool online, but it does not seem to fit the bill based on how the Makefile invokes it.

(I had to install dep into the docker image as well)

[2019-04-29 09:44] wdullaer commented on #180
For future reference: the `buildozer` tool used by this repo can be found here https://github.com/bazelbuild/buildtools/tree/master/buildozer

[2019-05-01 09:14] terrycain commented on #106
Am interested in helping out, though #178 looks like it makes good headway, do we know roughly when this will get reviewed.

[2019-05-02 23:09] rmichela opened #182 "Bazel 0.25.0 breaks CI"
[Bazel 0.25.0](https://github.com/bazelbuild/bazel/releases/tag/0.25.0) was released yesterday (1 May 2019) and CI now fails with the following error:

`bazel run //tests/harness/executor:executor -- -go -gogo -cc -java`

`ERROR: ERROR: /root/.cache/bazel/_bazel_root/f3b2f14a341ae4a212816bde0c6dce42/external/io_bazel_rules_go/go/private/actions/asm.bzl:15:1: file '@io_bazel_rules_go//go/private:co

[2019-05-03 17:52] #182 closed

[2019-05-03 23:53] #180 closed

[2019-05-04 02:14] rmichela commented on #168
Snapshot artifacts have been released to Sonatype 🎉

https://oss.sonatype.org/content/repositories/snapshots/io/envoyproxy/protoc-gen-validate/

[2019-05-04 05:22] rmichela commented on #168
@rodaine Can you please execute the above curl command to try a real release?

[2019-05-07 15:01] dainiusfigoras opened #185 "java grpc validation in different projects"
Hi,

just wanted to ask, if I'm doing it right or maybe there is better way.
I have few projects that are using different proto files, proto-files themself are extracted to separate project/jar and validator generation is run there. It creates validator file per proto file (I think) that contains static method to get ValidatorImpl for class (and static classes for every message that needs to be va

[2019-05-07 19:45] rmichela commented on #185
I'm not sure I understand why `ReflectiveValidatorIndex` doesn't work for you. The [`ValidatingServerInterceptor` unit tests](https://github.com/envoyproxy/protoc-gen-validate/blob/master/java/pgv-java-grpc/src/test/java/io/envoyproxy/pgv/grpc/ValidatingServerInterceptorTest.java#L39-L47) have an example of using `ReflectiveValidatorIndex` with an interceptor. There is also a [test harness](https:

[2019-05-07 20:16] rmichela commented on #168
Waiting on resolution of #185 before releasing official release bits.

[2019-05-08 07:06] dainiusfigoras commented on #185
Thanks for quick comment, that was really nice.
After generating validation code I get "AbtReferenceDataApiValidator" class:

[code]
In configuration class I have

[code]

But when "GetDataRequest" message comes "ReflectiveValidatorIndex" is trying to load "no.entur.abt.referencedata.exchange.grpc.GetDataRequestValidator" and of course it fails (because GetDataRequestValidator is inside  AbtRefere

[2019-05-08 15:40] rmichela commented on #185
Can you attach a redacted version of your proto? Are you using nested types in your proto? I have a hunch the structure of your .proto file matters.

[2019-05-08 15:48] rmichela commented on #185
Also, are you using any of the `java_package`, `java_outer_classname`, or `java_multiple_files` options on your proto?

[2019-05-08 16:56] dainiusfigoras commented on #185
More or less every proto file starts like this:

[code]
and typical messages looks like this:

[code]

and some messages contains fields that come from different files as well, but validation seems to work just fine. At least I had no problems so far. I was just a bit uncertain about best way to initialise grpc interceptor.

I ended (so far) with this:

[code]

For us it should be fine, there's ju

[2019-05-08 21:46] rmichela commented on #185
Ok. I've identified an issue with reflection and the `java_multiple_files = true` option.

[2019-05-09 05:26] kongkong56 opened #187 "groupId in java"
<dependencies>
    <dependency>
        <groupId>com.lyft.protoc-gen-validate</groupId>
        <artifactId>pgv-java-stub</artifactId>
        <version>${pgv.version}</version>
    </dependency>
</dependencies>

why the groupId is not io.envoyproxy.protoc-gen-validate?

[2019-05-09 17:55] rodaine commented on #187
Thanks for the report! PGV used to live under the Lyft org before being moved into envoyproxy's recently.

@rmichela, looks like one of these slipped through.

[2019-05-09 19:14] #187 closed

[2019-05-10 07:42] hookover opened #189 "validate/validate.proto: File not found."
proto file:
[code]
run in console:
[code]
got err:
[code]

[2019-05-10 07:50] #189 closed

[2019-05-14 08:47] dimax0505 opened #191 "failed compile ...Validator.java file"
I would to try your PGV plugin for validation protobuf messages (lang=java), but i can't compile my project. I faced with error:
[INFO] --- protobuf-maven-plugin:0.5.0:test-compile-custom (protoc-java-pgv) @ pgv-java-grpc ---
[INFO] Compiling 1 proto file(s) to C:\Users\Maksimov-DE\go\src\github.com\envoyproxy\protoc-gen-validate\java\pgv-java-grpc\target\generated-test-sources\protobuf\java-pgv
[

[2019-05-14 10:55] Bebu1985 opened #192 "C# Support"
Hi together,

is there any support for c# in the project? Or is it planned to support it?

If not, any suggestion of the necessary time in hours to add such support? I am interessed in using this project for my job, but to contribute i need to tell my boss something about the needed hours.

Thank you

[2019-05-14 18:34] rodaine commented on #192
Howdy! C# support isn't on the roadmap, but we'll gladly help shepherd through an implementation.

The most recently added language was Java, and I'm not certain how long it took (in actual hours) to be completed: https://github.com/envoyproxy/protoc-gen-validate/pull/108

@rmichela would you care to comment on an estimate? Without starting any sort of language war, I figure the implementation wou

[2019-05-14 19:47] akonradi commented on #192
Bazel's story for C# isn't as great as it is for Java, but I don't have any experience with that so it might turn out to be a non-issue.

[2019-05-14 21:54] rmichela commented on #192
Java was challenging to add, but most of the challenges came from having to learn go templates and the protoc-gen-star framework. C# should be a relatively straightforward port of the Java implementation, with the addition of extension methods to do the validation.

[2019-05-14 21:59] rmichela commented on #191
It looks like you are compiling on Windows. How are you building PGV?

[2019-05-14 22:58] f3nry opened #193 "0.0.15 release needed to fully execute rename"
Hi!

We are having trouble combining projects that depend on this via Go modules.

In 0.0.14, the package is still `lyft/protoc-gen-validate` but on master it's `envoyproxy/protoc-gen-validate`.

Master: https://github.com/envoyproxy/protoc-gen-validate/blob/master/validate/validate.proto#L4
0.0.14: https://github.com/envoyproxy/protoc-gen-validate/blob/v0.0.14/validate/validate.proto#L4

What's t

[2019-05-14 23:20] f3nry commented on #193
We fixed by pseudo-version pinning in our `go.mod`.

[code]

[2019-05-15 01:17] shouichi opened #194 "Generate gRPC request validation middleware"
gRPC middleware that validates requests can be generated by embracing `protoc-gen-validate`. We generate such middleware in the company I work for and works well. It would be great if `protoc-gen-validate` has an option to generate such middleware.

Thank you.

[2019-05-15 03:14] hookover opened #195 "Calling the Validate method affects the return value"
## func a call the Validate() method
[code]

## return  a

[code]

## func b
[code]
## return  b

[code]

[2019-05-15 06:06] dimax0505 commented on #191
Yes, I clone your project, and build PGV localy on Windows.

[2019-05-15 07:00] rmichela commented on #194
For which languages? The java implementation comes with gRPC interceptors already implemented.

[2019-05-15 07:04] rmichela commented on #191
I think I fixed this in a PR #186 I'm working on. Since you have a local clone, can you verify by changing line 126 of `templates/java/register.go` to

[code]

https://github.com/envoyproxy/protoc-gen-validate/pull/186/files#diff-7861baaaa3aaaaead65cf98ebb8cc3e1R126

[2019-05-15 07:11] shouichi commented on #194
Go.

Nice 👍

[2019-05-15 12:12] dimax0505 commented on #191
Now i clone rmichela:bugfix/java-multiple-files and have same error...
fullPath := strings.Replace(javaPackage(f), ".", string(os.PathSeparator), -1) - correctly now...

[2019-05-15 13:07] akonradi commented on #195
Can you describe the issue in a bit more detail? A minimal self-contained example demonstrating the issue would also be really helpful.

[2019-05-15 17:34] rodaine commented on #194
Howdy! Thanks for writing in. For Go, generation isn't necessary to create a validation interceptors since interfaces are implicit:

[code]

A similar pattern can be written for Server streaming as well as two Client interceptors.

---

Not including interceptors was also intentional as the behavior required for validation can be complex and very dependent on the service, its callers, or the expec

[2019-05-15 17:58] rodaine commented on #193
Waiting on some bug fixes with the Java side of things before we cut a new release (and do the first non-SNAPSHOT release for them as well).

[2019-05-15 23:33] vtolstov opened #196 "validate enum with their string representation"
i'm use enum in proto files and generate swagger definition. In swagger enum represented as strings. Does it possible to validate automatic with string representation of enum (not only int32)?

[2019-05-15 23:42] rodaine commented on #196
Validation only occurs against the in-memory representation of the protobuf message. As such, there is never a time where we'd (even be able to) validate against a string representation of it.

[2019-05-15 23:42] #196 closed

[2019-05-15 23:51] vtolstov commented on #196
ok, thanks

[2019-05-16 00:00] shouichi commented on #194
Thank you for your detailed response!

The type assertion code satisfies my original request/question. Originally we wanted to avoid type assertion but that should be enough.

I found the mobile app example interesting. How do you guys keep multiple validations for one api version? I assume one api version supports multiple validations because breaking changes can be introduced with multiple api v

[2019-05-16 00:08] rodaine commented on #194
The IO costs for the rest of the request are much higher than the check in terms of performance, if that was the concern.

It's handled on a case by case basis, but we do allow the evolution of APIs assuming they don't break older clients. For significant changes, a new endpoint is certainly preferred. This managed through...

[Protolock](https://github.com/nilslice/protolock)! While it doesn't lo

[2019-05-16 00:27] shouichi commented on #194
True, IO should be orders of magnitude slower 🐌

Could you elaborate? I understood that server runs a set of validations based on client version not to break old clients. I'm specially interested in keeping validations backward compatible because protolock ensures field level compatibility.

Thank you, I didn't know it supports plugins. I'll take a look.

[2019-05-16 06:51] dimax0505 commented on #191
I haven't figered out yet, how to implement validatoin function to my own applycation (spring boot grpc hello server), but pgv-java-grpc module passed test successful now. I compiled PGV with corrected func JavaMultiFilePath in register.go like this -
func JavaMultiFilePath(f pgs.File, m pgs.Message) pgs.FilePath {
	//fullPath := strings.Replace(javaPackage(f), ".", string(os.PathSeparator), -1)

[2019-05-16 20:48] aanm opened #197 "Gopkg.toml version vs revision"
Hello

I've noticed the Gopkg.toml in the repo does not pin a specific version of the dependencies it uses.

Accordingly to dep documentation:
[code]

Is this by design? This means that projects that import `github.com/envoyproxy/protoc-gen-validate` could also import `github.com/golang/protobuf` version `1.3.1` but the version defined in the protoc-gen-validate Gopkg.toml file is `1.2.0`.

cc @ro

[2019-05-20 15:49] nicktrav commented on #168
Hey @rmichela - how's this one looking?

[2019-05-20 22:25] rmichela commented on #168
Soon after #186 is merged.

[2019-05-21 22:20] F21 opened #201 "String length validation with white space trimmed"
I was wondering if it would be possible to make a version of the strings length validator that trims the leading and trailing white space of the string using [TrimSpace()](https://golang.org/pkg/strings/#TrimSpace), before validating the length.

I find that I have a lot of cases where I want a string of a certain length as the input, but want to exclude/remove any leading and trailing white space

[2019-05-22 12:51] skyrocknroll commented on #191
@rmichela Any hints on how to integrate pgv into java application would be really helpful. I am able to successfully compile and it generated java-pgv packages. There is no clue on how to integrate with grpc service implementation.

[2019-05-22 12:52] skyrocknroll opened #202 "How to integrate pgv with java grpc service?"
Any example or hint on how to integrate pgv with java would be really grateful.

[2019-05-22 16:39] skyrocknroll commented on #202
`package io.grpc.examples.helloworld;

import io.envoyproxy.pgv.ReflectiveValidatorIndex;
import io.envoyproxy.pgv.ValidationException;
import io.envoyproxy.pgv.ValidatorImpl;
import io.envoyproxy.pgv.ValidatorIndex;
import io.grpc.stub.StreamObserver;

public class GreeterImplImpl extends GreeterGrpc.GreeterImplBase {
    private ValidatorIndex reflectiveValidatorIndex = new ReflectiveValidatorIn

[2019-05-22 16:40] skyrocknroll commented on #191
https://github.com/envoyproxy/protoc-gen-validate/issues/202

[2019-05-22 16:46] rmichela commented on #202
That's one way.

A more idiomatic gRPC-Java way would be to use the [`ValidatingServerInterceptor`](https://github.com/envoyproxy/protoc-gen-validate/blob/master/java/pgv-java-grpc/src/main/java/io/envoyproxy/pgv/grpc/ValidatingServerInterceptor.java).

[2019-05-22 16:54] skyrocknroll commented on #202
Thank You !

[2019-05-22 19:41] rodaine commented on #201
You can do this using the pattern rules with regex. Something like `^\s*\w{0,5}\s*$` (assuming you wanted the range to be 0-5 characters).

I don't think specific use cases like these are appropriate and require implementation across all the supported languages. Since you can capture this with the pattern, while not as plainly readable, doesn't require a new, specialized implementation.

[2019-05-22 19:45] #201 closed

[2019-05-22 19:47] #185 closed

[2019-05-22 21:03] rmichela commented on #168
A new snapshot has been promoted.

[2019-05-22 21:05] rmichela commented on #191
@dimax0505 Can you try now with the latest -SNAPSHOT release?

[2019-05-23 02:10] skyrocknroll commented on #168
Awesome ! Thanks

[2019-05-23 08:06] skyrocknroll commented on #202
For anybody looking for an java example https://github.com/skyrocknroll/grpc-pgv-java-example

[2019-05-23 08:06] #202 closed

[2019-05-24 05:23] F21 commented on #201
Posting this here for those who want to implement the same thing.
Goal: Validate the length of the string after trimming all leading and trailing white space. The string itself may contain white space characters, but its leader and trailing character cannot be white space. The string itself should be between 1 and 5 characters.

Since the generated Go code uses the regexp package from the Go libra

[2019-05-24 08:43] F21 opened #203 "Support for multiple validators for field"
I have a `repeated string` field where I want to validate the number of items and the length of each item.

I am using a definition that looks like this:
[code]
This is valid protobuf syntax and the compiler does not complain. Unfortunately, the compiler only generates code to check the number of items. If I remove the second rule, it would generate code to check the length of each string.

I thin

[2019-05-24 08:54] akonradi commented on #203
My guess is that the first line is creating a [`RepeatedRules`](https://github.com/envoyproxy/protoc-gen-validate/blob/54b08a686ff6548d8a248218664254c422fc4599/validate/validate.proto#L56) entry with the `len` restriction, and then the second is overwriting that `RepeatedRules` entry with the new one. If my guess is correct, you need to create a single `RepeatedRules` field that includes both rest

[2019-05-24 09:41] F21 commented on #203
I am not able to get that to compile (I believe I've tried that before when trying to get multiple validators working).

Protoc returns `Error while parsing option value for "repeated": Expected "{", found ".".`. Intellij also marks it as a syntax error.

[2019-05-24 10:28] dainiusfigoras opened #204 "Bug in code generator with 2 uppercase letters following each other"
Hi,

there was recent update in snapshots that allowed us to use ReflectiveValidatorIndex with "option java_multiple_files = true;" and does work very nice and allows us to save some code.
But for some messages it generates wrong code and fails when trying to compile.

In proto file:

[code]

It generates code:

[code]

and fails because it declares class "public class AddIdTokenValidator" (with c

[2019-05-24 10:53] F21 opened #205 "Ability to make validator run only if field has non-zero value"
I have fields that are optional. For example, a field that could contain an IP address:

[code]

Since the field can be optional, validation would fail if the field is empty. It would be nice if there we  can add an optional parameter to the annotation to signal that we only want to validate the field if the value is a non-zero value.

[2019-05-24 11:54] akonradi commented on #203
Sorry, I should have checked the syntax before responding. I've opened #206 to demonstrate the appropriate syntax and keep us from breaking this functionality in the future.

[2019-05-24 11:54] #203 closed

[2019-05-24 11:55] F21 commented on #203
Thanks, @akonradi ! 👍

[2019-05-24 11:57] akonradi commented on #169
@SecurityInsanity What's left to do on this one?

[2019-05-24 12:14] F21 commented on #61
Would definitely love to see this happen. The original author proposed to match v4 uuids. What about v1, v2, v3 and v5? Should there be "specialized" versions that matches a specific version and a generalized version that matches all uuids regardless of the version?

[2019-05-24 12:22] srenatus commented on #61
The original author happens to only need _v4_. But I'd agree, it makes sense to have the other versions as well, I suppose 😄

[2019-05-24 13:28] SecurityInsanity commented on #169
Hey @akonradi ,

Just two simple things:
  - Move the hostname/address validation out to a shared static function (somewhere in the C++ codebase, I don't remember seeing any place for it).
  - Add in the actual validation call for all the languages.

Should be pretty quick, I just got distracted by other work things. I'll add it to my todo list for today, but many not get to it until the weekend.

[2019-05-24 14:26] dimax0505 commented on #191
https://oss.sonatype.org/content/repositories/snapshots/io/envoyproxy/protoc-gen-validate/ i add dependency from this repository, but have same error...

[2019-05-24 16:38] skyrocknroll commented on #191
@dimax0505 did you do `mvn clean compile -U` to force update the snapshot?

[2019-05-25 07:50] dainiusfigoras opened #208 "Null pointer exception when validating embedded message with ReflectiveValidatorIndex"
Hi,

some of our proto messages have embedded messages, that looks something like this:

[code]

but when running server validation (with ReflectiveValidatorIndex) it generates null pointer exception:

[code]

it's even more strange/disturbing because there is no validation conditions, so I would expect it to use ALWAYS_VALID (or something like that).

I think it happens because embedded message i

[2019-05-25 15:22] Fleshgrinder commented on #61
I’d like to revise my previous view on the matter because of C# and Microsoft’s interpretation of a UUID. Exchanging strings is the safest route here to ensure that they can be shared between e.g. Java and C#.

[2019-05-27 03:35] dio opened #209 "Skip a field rule for a specific lang or when it is desired"
The case is with envoy, e.g. for the embedded `load_assignment`. The `cluster_name` there is required for the management plane, but it is optional for the data plane (will be taken care of differently, context: https://github.com/envoyproxy/envoy/pull/6409/files#r270477769).

[2019-05-27 06:14] dimax0505 commented on #191
yes:
[INFO] --- protobuf-maven-plugin:0.6.1:test-compile-custom (protoc-java-pgv) @ pgv-java-grpc ---
Downloading: https://oss.sonatype.org/content/repositories/snapshots/io/envoyproxy/protoc-gen-validate/protoc-gen-validate/0.1.0-SNAPSHOT/maven-metadata.xml
Downloading: https://repo.maven.apache.org/maven2/io/envoyproxy/protoc-gen-validate/protoc-gen-validate/0.1.0-SNAPSHOT/maven-metadata.xml
Dow

[2019-05-27 06:20] rmichela commented on #191
There is a forward slash between `java-pgv` and `io/envoyproxy`. Is that what is causing the problem?

[2019-05-27 10:08] dimax0505 commented on #191
yes... but now, i change com.google.protobuf:protoc:3.6.1 to 3.8.0 and error disappear... i don't undestand it... I will try test it on my app in local network, one qwestion -  were artefacts in repo https://oss.sonatype.org/content/repositories/snapshots/io/envoyproxy/protoc-gen-validate been generated from master branch of current project?

[2019-05-28 04:01] rmichela commented on #191
Yes. Everything is built from master.

[2019-05-28 04:59] rmichela commented on #191
I have no way to reproduce your problem, but the fact that upgrading protoc fixed your build makes me think this is a bug in protoc and not PGV. @rodaine, what do you think?

[2019-05-28 18:47] rmichela commented on #204
Great catch. Looking into it.

[2019-05-28 22:36] rmichela commented on #168
Just fixed #210. Waiting on merge.

[2019-05-29 12:35] akonradi commented on #22
Now that we're adding more languages, I think it's time to revisit this. Both Java and Python support re2, and while I like not having dependencies outside the standard libraries, this seems like a good exception to make.

[2019-05-29 12:45] seime commented on #208
Were you able to reproduce this one @rmichela ?

[2019-05-29 17:52] rmichela commented on #208
Yes.

[2019-05-29 18:20] rmichela commented on #168
Working on #208.

[2019-05-30 17:40] rodaine commented on #209
Right now the rules are scoped to the entity that they are on, and don't have that level of context. If/when we implement a predicate-based approach (https://github.com/envoyproxy/protoc-gen-validate/issues/128), this will be possible without complicating the existing syntax.

[2019-05-30 17:40] #209 closed

[2019-05-30 19:41] #208 closed

[2019-05-30 20:18] #204 closed

[2019-06-03 07:23] dainiusfigoras opened #214 "field multi-validation conditions"
Hi,

I was very impressed how fast you guys are implementing new stuff and therefore I have question about validating with conditions (maybe I missed it in feature list, or maybe you already have it on your plans).

I have message like this:

[code]

and I can do multi-validations without any problems, this works just fine.
But is it possible to write rules that conjuncted with "OR" and not "AND"?

[2019-06-03 12:14] akonradi commented on #214
This isn't possible without using some kind of more expressive language. See discussion on #128.

[2019-06-03 12:38] #214 closed

[2019-06-03 15:56] kothariaditya opened #215 "We want to add the ability to mark WKT fields as required and have other validations as well"
**What's the issue?**

Currently, we can only add one type of validation at a time. This is because FieldRules is defined with `oneof type`. So we cannot do for example:
`[(validate.rules).string.const = “abcd”]` and `[(validate.rules).message.required = true]`

**Possible approaches:**

1. Add a bool option required outside the `oneof` in FieldRules. This would only have one purpose and not many

[2019-06-03 15:56] kothariaditya commented on #215
cc @dkunitsk @rodaine

[2019-06-03 19:33] rodaine commented on #215
For future proofing, and to reduce the introduction of a new field, instead have you considered moving the entire `message` rules out of the oneof to the top level? That way, as new validations for messages are added, they are immediately applicable to the WKTs as well.

[2019-06-03 20:35] kothariaditya commented on #215
That sounds like a good idea. Could do that as well 👍 @rodaine

[2019-06-05 07:32] dainiusfigoras opened #216 "validation for proto-light (java) version"
Hi,

for some of our android applications, we are using proto-light version and of course we would like to use same (client) validation as in java app.

When I try to generate validation code now, it fails to compile, because light version differs from normal version. I think 2 main reasons it doesn't compile are, that

light version doesn't have "hasXXXX" methods to check if value is presented
[c

[2019-06-10 17:43] #169 closed

[2019-06-10 18:05] nicktrav commented on #168
@rmichela - any remaining blockers to publishing an official (non-snapshot) release? #208 looks like it got resolved.

[2019-06-10 18:08] rmichela commented on #168
Everything is ready. I'm going to try do do a 0.1.0 release today.

[2019-06-12 00:24] f3nry commented on #193
@rodaine Any updates on this? Would be great to avoid running into the rename issue with 0.0.14 continually. 🙏

[2019-06-13 15:38] rmichela commented on #216
There is not flag today to support proto-light. 😕 This is something to look into.

[2019-06-13 16:15] rmichela commented on #168
Release jars are now public in Maven Central. 🎉 https://search.maven.org/search?q=io.envoyproxy.protoc-gen-validate

[2019-06-13 16:15] #168 closed

[2019-06-13 16:16] rmichela commented on #193
Release jars are live.

[2019-06-13 20:21] rodaine commented on #193
You can upgrade to using v0.1.0 now @f3nry

[2019-06-13 20:21] #193 closed

[2019-06-17 17:20] akonradi commented on #22
@rodaine @htuch any thoughts here?

[2019-06-18 13:30] rmichela commented on #191
@keith Are you also having trouble building on Windows with protoc 3.6.1?

[2019-06-19 10:11] coolyrat commented on #52
Is there any plan supporting gogoproto.embed? Embed reduce a lot of duplicate codes

[2019-06-19 16:47] LethiferousMoose commented on #168
@rmichela Does anyone have an example of how to use this in Gradle, I can keep playing around with till I get it to work, but an example would be nice.

[2019-06-19 16:56] nicktrav commented on #168
@LethiferousMoose - something like this works for us:

[code]

Plus the respective dependencies for compile, etc., depending on how you're using it.

[2019-06-19 16:59] LethiferousMoose commented on #168
@nicktrav Huh, I pretty much have exactly that.  The only difference is I still have `grpc` as a plugin. Do I not use that when I use this one?

[2019-06-19 17:22] Fleshgrinder commented on #168
This seems to be a typical Windows issue like seen in https://github.com/marcoferrer/kroto-plus/issues/6 as well. There are also a couple of workarounds being discussed. I think that in general running protoc plugins on Windows is too complicated because the way the Protobuf Gradle plugin is designed.

[2019-06-19 17:32] LethiferousMoose commented on #168
Well in my case there actually no generated code. The `javapgv` folder is empty.

[2019-06-19 19:02] LethiferousMoose commented on #185
@rmichela So the Java usage doesn't seem to be documented anywhere. Is it just as simple as adding the `ValidatingServerInterceptor` to the gRPC server? I was digging through change history which lead me here.

[2019-06-20 06:43] veqryn opened #219 "go get fails"
I've tried on both Linux and Windows.

[code]

[2019-06-20 06:47] veqryn commented on #219
Ah, I didn't even notice you moved the repo to a new name.
`go get -u github.com/envoyproxy/protoc-gen-validate` works.

[2019-06-20 06:47] #219 closed

[2019-06-20 17:45] rodaine commented on #191
After fixing the slash issue, what was the error reported by 3.6.1, @dimax0505?

[2019-06-20 17:55] #61 closed

[2019-06-20 18:28] akonradi opened #220 "Switch extension numbers to registered value"
https://github.com/protocolbuffers/protobuf/pull/6176, now merged, registered 1071 as the extension number for protoc-gen-validate. The current value should be changed from 919191 to the registered value to avoid conflicting with any other proto extensions.

[2019-06-20 19:52] rmichela commented on #168
The `/generated/source/proto/main/javapgv/` part of the path is owned by `protoc` itself. It may be fixed in future versions of protobuf.

[2019-06-20 20:08] rmichela commented on #185
Yes. It's that easy.

// Create a validator index that reflectively loads generated validators
ValidatorIndex index = new ReflectiveValidatorIndex();

// Create a gRPC client and server interceptor to automatically validate messages (requires pgv-java-grpc module)
clientStub = clientStub.withInterceptors(new ValidatingClientInterceptor(index));
serverBuilder.addService(ServerInterceptors.intercept

[2019-06-20 20:36] rmichela opened #222 "Implement UUID parsing with state machine."
As discussed in #217, the implementation of UUID matching is sub-optimal because it uses a hard coded constant regex string passed to a regex library. Significant performance gains can be achieved by replacing constant regex expressions with bespoke state machines.

This work is worth doing because UUIDs are so common in distributed systems and PGV sits on the hot path of every service request.

-

[2019-06-20 20:39] Fleshgrinder commented on #222
I’ll take a stab at this. 😊

[2019-06-21 06:41] dimax0505 commented on #191
sorry, i don't clear undestend your question...
i try two way - first - https://github.com/envoyproxy/protoc-gen-validate/issues/191#issuecomment-492941643 - i change file templates/java/register.go, and now it work in my local project.
second - i change 3.6.1 to 3.8.0...
if you talk about  snapshot-0.2.0 - i don't try it yet...

[2019-06-21 13:02] akonradi commented on #222
@Fleshgrinder awesome, thanks! Once you finish this, we should be able to port your implementation to C++ without too much trouble.

[2019-06-21 14:11] Fleshgrinder commented on #222
I actually planned to provide C++, Go, and Java. Java is already done and Go also almost.

[2019-06-21 16:08] xmlking opened #223 "email rule not working on google.protobuf.StringValue"
cannot add email rule on `google.protobuf.StringValue` but works on  `string` type

getting following error:

`m._validateEmail undefined (type *UserRequest has no field or method _validateEmail)`

[code]

[2019-06-21 18:35] #220 closed

[2019-06-21 18:36] rodaine commented on #223
Thanks for the report! This is indeed a bug (the helper method is not being generated in the case of the WKT).

[2019-06-21 22:20] Fleshgrinder opened #229 "Better Error Messages"
The current error messages that are being displayed if a validation fails are:

1. not consistent between the languages, and
2. do not contain the faulty data.

I think that 1. is important for a consistent experience with the library. Whereas 2. is very important in environments where millions of messages are processed and cannot easily be replayed/reproduced.

While including things like numbers

[2019-06-22 03:43] rmichela commented on #191
Did this fix your problem?

[2019-06-22 03:45] rmichela commented on #229
Tangentially related to #146

[2019-06-22 03:54] rmichela commented on #141
Protoc has [insertion points](https://github.com/protocolbuffers/protobuf/blob/da5d02bced1fa3d543d026e3f2a03d3259500ed7/src/google/protobuf/compiler/plugin.proto#L125-L162), but that would require writing a protoc plugin to extend PGV's plugin.

[2019-06-22 03:56] rmichela commented on #89
Is this still an issue?

[2019-06-24 07:26] dimax0505 commented on #191
yes, thanks, i closing issue...

[2019-06-24 07:26] #191 closed

[2019-06-24 19:36] htuch commented on #22
I think we could live with `re2` as an Envoy dependency, so if we have Go/Java/Python with out-of-the-box support, let's go with that.

[2019-06-25 06:11] mjduijn opened #230 "Safe defaults for {Reflective,Explicit}ValidatorIndex"
When a `ValidatorIndex` in Java can't find a validator for a specific class, the object is marked as valid by default.
As a result when a user forgets to add a class to the `ValidatorIndex`, or the class is not present on the classpath (real possibility when using Bazel), verification is skipped without so much as a warning.
This behavior can't be changed by a user as all implementations of `Valid

[2019-06-25 16:15] glerchundi commented on #141
@rmichela thanks for such an interesting tip! I didn't know that existed!

I'm trying to find resources in this regards with no success (for go). How would be possible to add this feature to `protoc-gen-validate`? Create a comment with insertion points in the generated code and then pass through another generator? With `protoc-gen-star` the entry barrier to create generators is go is really low so

[2019-06-25 17:37] rodaine commented on #141
@glerchundi, PG* supports insertion points, I think what @rmichela is saying is that the insertion points need to be added to PGV first so that another plugin can hook into it:

https://godoc.org/github.com/lyft/protoc-gen-star#GeneratorInjection
https://godoc.org/github.com/lyft/protoc-gen-star#GeneratorTemplateInjection

With Go, all methods for a type don't need to be in the same file, as long

[2019-06-25 17:38] rodaine commented on #141
Going to close this as a duplicate of #128

[2019-06-25 17:38] #141 closed

[2019-06-25 18:31] rodaine commented on #197
PGV is a binary and doesn't expose any runtime dependencies for Go; there's not really anything here to import wrt Go. I'm curious, can you tell me why you are importing it and how you're using it?

That said, the looseness of the definition is controlled by the lockfile (which specifies the exact SHA to use when building).

[2019-06-25 20:47] glerchundi commented on #141
@rodaine i feel like, although they are similar, in essence both issues are different and not duplicates. Take a look at this example:

[code]

How to add an automatic validation for the `CreateNoteRequest` based on the hardcoded `(google.api.http).post` parent pattern? So that it conforms the value inside the brackets? In this case the generated code should do something like this:

[code]

This p

[2019-06-25 20:54] glerchundi commented on #128
As per [this comment](https://github.com/envoyproxy/protoc-gen-validate/issues/141#issuecomment-475450422) it seems like you more o less decided to use the go parser instead of cel, is it possible to elaborate on this and the reasoning behind that decision?

Using one or the other, and correct if i'm wrong. the idea would be to create an expression associated to the message (no matter it is go or

[2019-06-25 22:09] rodaine commented on #141
Operating on other options is a whole other beast, and likewise operating on G's API annotations is a whole other. I think this yet further from your original question and #128, which both are concerned about field relationships. Allowing the predicate to support reading info from an option however would be an interesting feature and worth having as a separate issue.

[2019-06-25 22:11] rodaine commented on #128
That about sums it up, yes :)

[2019-06-26 00:31] veqryn commented on #102
Hey, just wondering if this might get prioritized (@rodaine )?
I can't think of any decent golang struct/message validation library that doesn't have this, and this feature is preventing wider use of this library for me and the rest of the teams I work with.

[2019-06-26 08:52] glerchundi commented on #128
@rodaine and what about the first question regarding to the reasoning behind deciding to use go/parser instead of CEL? I would like to start working on this and wanted to know if I should start with one or the other!

Thanks!

[2019-06-26 11:26] aanm commented on #197
@rodaine We import github.com/lyft/protoc-gen-validate as it's present in imports of the files created by `pb.go` files with `protoc-gen-go`. And so we need to pin a specific version for `github.com/golang/protobuf`.

We are using it here https://github.com/cilium/proxy/blob/master/Gopkg.toml and the project is imported, for example, here:

https://github.com/cilium/proxy/blob/fd8566c74481c22cfe28

[2019-06-26 19:43] rodaine commented on #128
I recommended the go parser because it's part of the standard library and does not require any dependencies. The generated code should not have a dependency on whichever expression language is used, so there's no real benefit from my perspective to use a 3rd-party one.

[2019-06-26 19:50] akonradi commented on #128
I agree that the generated code should not have a dependency on the expression language, but that's not the only place there's a dependency. Users of PGV are going to have to write expressions in whatever language we choose, and they may not be familiar with Go or CEL. I think it makes sense to adopt a widely used language instead of writing our own DSL, but it would be helpful to see how some ill

[2019-06-26 21:33] rodaine commented on #128
Totally agree :)

[2019-06-27 16:20] hsyed opened #232 "Support for arbitrary precision decimal validation"
It would be great to have support for validating arbitrary precision decimals.

[2019-06-28 11:37] seime opened #233 "[java] Validator generation for messages with underscore in name fails"
If the proto message name contains underscore the generated java validator file does not compile

Protofile:
[code]

Cause: Generated java validator file is named `MessageNameWithUnderscoreValidator.java`,  but inside the file there is a self reference on line 11 using the correct name `MessageNameWith_UnderscoreValidator`.

Suggestion: Keep underscore in filename (as is done by protoc for the cor

[2019-07-01 19:32] TristonianJones commented on #128
CEL was designed to evaluate over JSON, proto2, and proto3 messages. Most languages aren't. Also, CEL shares much of its syntax with Go syntax, but this is also true of CEL and any C-like language.

In my prior experience with codegen from CEL, I've found that it can be challenging to map from proto types to runtime specific equivalents, i.e. Java and unsigned ints. Also, it can be slow to add new

[2019-07-01 22:49] rodaine commented on #232
Arbitrary precision isn't a supported type in protos. Can you clarify more about what you're looking for?

[2019-07-03 00:44] rmichela commented on #216
I started digging into this, and proto-lite is a different enough codebase to be nearly a complete port. It will need its own generator and stub classes, because the proto and proto-lite APIs are so different. In a way, it's like the go and gogo generators.

What is the use case for proto-lite? Why is the existing proto generator inadequate?

[2019-07-03 13:13] dainiusfigoras commented on #216
We are using proto-lite in android applications (because there was recommendation to use it and because some libraries like firebase includes lite dependencies).
I tried to use full java version, but it fails to compile, so I would need to manually fix validator code and that's not really possible with thousand messages.

I can try to make manual example of some message validation, that should wor

[2019-07-04 09:27] hsyed commented on #232
Arbitrary precision decimals are generally serialised as string to prevent loss of precision. It would be awesome if these could be validated at the API surface. [See](https://github.com/cockroachdb/apd/blob/bced77f817b446cc6f6453d6cab5891e43f9ba17/format.go#L14-L27) for the formats. Coefficient and exponent precision is configureable in the package I linked ideally this would be configureable.

[2019-07-04 13:36] rmichela commented on #216
I see. What version of the Android framework should we target? The most recent gRPC targets Android 14 and greater, with Java 7. Are you using something older?

[2019-07-04 13:49] dainiusfigoras commented on #216
We are using at least java 8, so that should be fine :)

[2019-07-07 09:53] alexykot commented on #232
Yes, and thus we're marshalling Decimal type into a string, and then unmarshalling it directly back to Decimal to ensure no precision is lost in communication.

And we want to be able to validate the incoming strings to be of the correct format and correct precision.
Decimal can be marshalled to string in one of the few very specific formats:
- with lowercase exponent `1.288e-5`
- with uppercase e

[2019-07-07 17:10] phanirithvij opened #236 "cannot install the package"
When I tried the command
[code]

The output was
[code]

And it failed after the last error message.

Am I doing something wrong here?

My `go version`
[code]

[2019-07-08 13:11] rmichela commented on #216
It will be a little while before I can start coding this. If you are interested in starting a PR I'd be happy to work with you as you go along. 😁

[2019-07-08 19:39] rodaine commented on #236
`github.com/lyft/protoc-gen-validate`

The package has been relocated to `github.com/envoyproxy/protoc-gen-validate`. Try again with that instead. Let me know if you still have issues :)

[2019-07-09 10:48] phanirithvij commented on #236
I was able to install it using the `github.com/envoyproxy/protoc-gen-validate`.
But It's still a weird behavior from go's part as it is installing some older version even though it's being redirected.

[2019-07-09 10:48] #236 closed

[2019-07-09 17:40] #230 closed

[2019-07-09 19:04] #233 closed

[2019-07-10 22:08] kothariaditya opened #237 "PGV Python Approach"
We are considering a new approach for Python that’s a bit different from existing language support as it wouldn’t do meaningful compile-time generation and instead generate the validation function just-in-time (JIT).

**What is the approach?**

Hand-code a `generate_validate` function `(proto.Message->(proto.Message->bool))` that would do JIT generation at runtime of the `validate` function for ea

[2019-07-11 13:27] akonradi commented on #237
I have a couple issues with this approach:

1. It makes it extremely difficult to debug the generated code since it only exists in memory, not in readable source code. You could take the generated code above and print it or something for debugging, but that's not the same as having source code you can step through in a debugger.
2. It introduces more magic into the system. Right now the generated

[2019-07-11 18:36] dkunitsk commented on #237
Hey @akonradi. Thanks for your input. You're right that this approach has tradeoffs, but we believe it's the right way to go considering the lack of a good alternative for finding a `validate` function at runtime, which is a major blocker to using PGV in a generic library. To respond more closely to your issues:
1. Debugging is likely more of a concern for the PGV developer (i.e. us) than an end u

[2019-07-12 00:19] kothariaditya commented on #215
This was fixed in: https://github.com/envoyproxy/protoc-gen-validate/pull/213

[2019-07-12 23:56] yuhuanq opened #239 "Defining message rules and rules over the underlying value for WKT wrapper types"
[code]

This snippet from the README seems confusing. If a value is not set for age, wouldn't it not pass validation due to the `.message.required` clause. Shouldn't it be if age is set then it must be greater than -1, and age must be set (required).

Along these lines, can we actually define validation rules over `.message` AND the wrapped values e.g. `.int32`?

A similar example
`message worker_

[2019-07-13 00:41] yuhuanq commented on #239
Huh looks like this was fixed in https://github.com/envoyproxy/protoc-gen-validate/commit/dbe039eb63c200bbb68c87e452486654899af7e1 ! Was using v0.1.0

[2019-07-13 00:41] #239 closed

[2019-07-15 09:28] GuiBon opened #240 "No validations at generation"
Hello

I would like to use protoc-gen-validate on a big project, but after some coding I noticed that the generated validations were empty.

I then tried the snippet code of the README.md and the result was the same.

More explanation bellow:

Using the first code snippet in the README.md in a file called `test.proto` in the folder `test`

[code]

When I run `protoc -I . -I ${GOPATH}/src/github.co

[2019-07-19 11:01] hsyed opened #243 "Email validation: single char TLD."
Should emails with a single char TLD be considered valid ? We have an external integration that blows up when a single char TLD is provided.

[2019-07-19 23:04] SecurityInsanity commented on #243
According to [RFC 1123 Section 2.1](https://tools.ietf.org/html/rfc1123#section-2.1). A single _character_ is indeed a valid domain name (although AFAIK none have actually been approved). _*However*_ RFC-3696 did prevent a single number from being a valid domain name since a domain name cannot be all numbers.

[2019-07-23 19:08] akonradi commented on #237
Sorry, meant to reply and then got lost for two weeks.

I see, so the problem is that there's no way to do static registration in Python like in C++ without loading the modules containing the `validate` functions ahead of time. I believe Java has similar restrictions and the way the generated code works around it there is by using reflection to load the appropriate Validator class (with caching) w

[2019-07-23 19:53] dkunitsk commented on #237
Hey @akonradi. Thank you for the follow up and your good suggestions. See below for our thoughts:

1. We mulled over this for a long time and could not come up with a solution we could live with. Since there is no relationship between the python code and the validation code, the best we could do to locate the validation module would be: take the Proto class, get its module path, pop off the filena

[2019-07-25 19:06] rodaine commented on #237
@akonradi, given the gotchas python presents here that Dmitriy and Aditya have laid out (for the first interpreted language compared to the rest of the pack), I think the JIT strategy makes sense as an initial endeavor; we can iterate on it to see if a long-term imperative strategy can grow from it.

As mentioned by @dkunitsk, insertion points would be a break from the existing behavior and where

[2019-07-25 22:10] ChankiWu commented on #182
I got a similar error
`(15:01:26) ERROR: /home/chankiwu/.cache/bazel/_bazel_chankiwu/517f43202bfe508abf4c2bdec57407e7/external/io_bazel_rules_go/go/private/actions/asm.bzl:15:1: file '@io_bazel_rules_go//go/private:common.bzl' does not contain symbol 'sets'
(15:01:27) INFO: An error occurred during the fetch of repository 'com_github_bazelbuild_buildtools'
(15:01:27) INFO: Call stack for the defin

[2019-07-26 15:56] rmichela commented on #240
@rodaine Any idea what's going on?

[2019-07-26 16:06] rmichela commented on #222
@Fleshgrinder Were you able to make any progress on your Go and C++ implementations?

[2019-07-26 16:40] rmichela opened #248 "Implement stalebot"
Some open issues linger in our backlog. Let's add stale bot integration to help cut down the backlog noise. https://github.com/apps/stale

[2019-07-26 18:59] rmichela commented on #248
@rodaine Request for Stale bot integration submitted. https://github.com/apps/stale/

[2019-07-26 19:32] #248 closed

[2019-07-26 19:41] rodaine commented on #197
I think it's worth pinning a minimum version for these up to a major release (assuming our deps are following semver).

[2019-07-26 20:21] rmichela opened #250 "Protolock plugin for PGV annotations"
[Protolock](https://github.com/nilslice/protolock) is a tool for protecting against breaking changes to proto files. By default, Protolock only validates changes to proto messages and RPCs. It does not understand proto options like PGV.

While Protolock does not natively understand PGV, it does [support plugins](https://github.com/nilslice/protolock/wiki/Plugins). We can write a plugin that teache

[2019-07-26 20:46] rodaine commented on #250
This is an excellent idea. First order of business would be to define what it means for a change to an annotation to be considered breaking.

[2019-07-27 01:10] rmichela commented on #250
A degenerate compatibility check would say that any change to any validation rule is a breaking change.

A more nuanced compatibility check would say that removing a rule is OK and broadening an existing rule is OK, but adding new rules is a breaking change.

[2019-07-28 11:22] Fleshgrinder commented on #222
I'm currently entangled in a project at work that requires all my attention and thus did not have time to progress here. Feel free to take over and get it done if you do not want to wait for me but I have not forgotten about this and it is at the top of my OSS TODO list. 😊

[2019-07-29 08:19] Shivam010 commented on #71
@glerchundi @rodaine
Any update on this?
If any help is needed I am open for this...

[2019-07-29 11:13] glerchundi commented on #71
As we want to have a full closed loop for the js code generation as well as the validation part of it, we're blocked on this: https://github.com/protocolbuffers/protobuf/issues/5119.

I think this can workaround by doing some `sed`ing after `protoc`, although it is a really awful solution :)

[2019-07-29 11:39] Shivam010 commented on #71
Ok then...

[2019-07-29 17:53] akonradi commented on #237
Agreed, there's really not a great way to make the Java approach (where validators can be loaded by class name) or the C++ approach (where validators are registered statically) work for Python.

Agreed on not using insertion points, I think that would end up being more of a headache than we want. I'm still wary of how this will work with Bazel where we invoke PGV once per .proto file, and given th

[2019-07-30 21:54] Shivam010 opened #251 "repeated field validation along with item specific validations"
Hi, I want to check the `unique` and `min_items` validations along with the corresponding item validation in **GoLang**, but in doing so, I am getting an error:
[code]
using:
[code]
<hr >

And using something like passing more than one options for a field, I am getting another error:
[code]
using:
[code]
<hr>

Also, passing more than one validate field options in the array only uses the last one o

[2019-07-31 13:06] akonradi commented on #251
Your first try is mostly right, just a small syntax error. Try this instead:
[code]

[2019-07-31 13:45] Shivam010 commented on #251
Yes, my bad. I missed the basic syntax. Thanks @akonradi
But what about the validations in message `Three`?

[2019-07-31 14:07] akonradi commented on #251
I think you'll also need to use the expanded syntax to set more than one field. Try this:

[code]

[2019-07-31 14:17] Shivam010 commented on #251
Means, the plugin does not handle more than one options in the proto-options-array
Ok cool, I was asking out of curiosity, I don't think that would be required.
Thanks again

[2019-08-02 19:59] #195 closed

[2019-08-02 20:59] gnossen opened #254 "Bazel WORKSPACE forces downstream projects to explicitly enumerate protoc-gen-validate's dependencies"
Related: https://github.com/envoyproxy/protoc-gen-validate/issues/136
Related: https://github.com/grpc/grpc/issues/19835

It is standard practice to leave direct invocations of repository rules out of one's `WORKSPACE` file and instead to farm them off to a separate `.bzl` containing a [`PROJECT_deps()` macro](https://github.com/grpc/grpc/blob/master/bazel/grpc_deps.bzl#L6) (i.e. `protoc_gen_valid

[2019-08-02 21:00] gnossen commented on #254
@akonradi

[2019-08-02 21:02] rodaine commented on #254
Thanks for the info! I have no complaints here, but defer to @akonradi or someone more experienced with Bazel to comment.

[2019-08-02 21:04] rodaine commented on #251
This is a limitation of the protoc parser it turns out; you're essentially creating a new `repeated` message there in the annotation.

[2019-08-02 21:08] akonradi commented on #254
@gnossen Thanks, I don't use Bazel much in OSS land so I wasn't aware of this particular wart. Happy to review a PR to fix this.

[2019-08-03 19:06] Shivam010 commented on #251
I think it is the limitation in `protoc-gen-star`, I tried a simple example with these options: [link](https://github.com/Shivam010/protoc-gen-sample/blob/master/type.proto).
And used them in the same way as in above message `Three`: [link](https://github.com/Shivam010/protoc-gen-sample/blob/master/check.proto).
And print the values in all the options [here](https://github.com/Shivam010/protoc-gen

[2019-08-05 15:11] hexdigest commented on #240
Hello,

I'm having same issue.

[code]

[2019-08-05 15:28] hexdigest commented on #240
Tried v0.1.0 from the releases page with no effect.

[2019-08-06 03:07] chetananand opened #255 "Include generated validate_pb2 into validate directory"
Thank you for adding the initial version of Python support.

Since many systems do not use Bazel, it will be really helpful to check in the generated validate/validate_pb2, so that the validate/ directory of this repo can be included in the proto path.

[2019-08-07 03:33] xmlking commented on #223
similar issue for `uuid` validation

[code]

[code]

[2019-08-07 04:16] xmlking commented on #223
@rodaine wonder  if any possibility to get this fixed in next release?

[2019-08-07 23:00] gongcon opened #259 "validate.proto is still in proto2, which is not supported by codegen of Ruby"
Protobuf is not going to add support of proto2 in Ruby, see [here](https://github.com/protocolbuffers/protobuf/issues/6420). The fundamental validate.proto in still in v2. We are not able to generate Ruby code because of that. The goal we are trying achieve is to stream access log to Logslash, which is written in Ruby.

Found another request here: https://github.com/envoyproxy/protoc-gen-validate/

[2019-08-08 12:55] rmichela commented on #259
Based on @rodaine's comments in the linked issue, switching from proto2 to proto3 for validate.proto would be both a breaking change for PGV, and not particularly useful towards fixing your issue with the Ruby generator.

validate.proto imports and heavily depends on [descriptor.proto](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/descriptor.proto), which is itself pr

[2019-08-08 14:24] akonradi commented on #254
@gnossen Does #258 address this sufficiently?

[2019-08-08 23:15] gongcon commented on #259
I think the outgoing data should not have the dependencies back on the configurations. It will resolve my problem if it can be a standalone proto file without such kind of dependencies.

[2019-08-09 02:01] rmichela commented on #259
Due to the nature of protobuf extensions, `validate.proto` and `descriptor.proto` are inseparable. https://github.com/envoyproxy/protoc-gen-validate/blob/master/validate/validate.proto#L12-L30

[2019-08-09 09:11] GuiBon commented on #240
Hello guys

Any update on this ?

[2019-08-09 15:41] xmlking commented on #223
i am using `override` workaround  , hope i can remove this if this is fixed.
https://github.com/xmlking/micro-starter-kit/blob/master/srv/account/proto/account/account.override.go#L45

[2019-08-25 06:43] phantomk opened #264 "Node.js Support"
Any plan to support Node.js or do you accept Node.js support PR?

Thanks for the awesome project!

We use Node.js and Grpc build microservice. we want do message validation of proto file

[2019-08-26 06:07] glerchundi commented on #264
Somehow a dup of #71 which is blocked by protocolbuffers/protobuf#5119.

[2019-08-27 11:51] qzmfranklin opened #265 "relation with mwitkow/go-proto-validators"
What's the relationship with:
https://github.com/mwitkow/go-proto-validators

Is it pure coincidence that the validator syntaxes are so similar?

[2019-08-27 17:38] sreenidhy opened #266 "Can I do pip install protoc-gen-validate now?"
I notice there are recent changes that indicates there is python support. I am not clear what exactly this means. Is it possible to now install the protoc-gen-validate using some form of `pip install protoc-gen-validate`?
I have a project that uses protoc-gen-validate in it's proto definitions. This project is a java project. I am planning to build additional features on top of the proto definitio

[2019-08-28 02:11] rmichela opened #267 "Make gazelle is very broken"
I ran `make vendor gazelle` to add a new dependency for an experiment, and the project broke dramatically.

Many unexpected packages in the vendor tree were modified, along with most of the project's `BUILD` files. `make bazel-harness` no longer compiles.

[code]

Is `make vendor gazelle` the incorrect way to handle dependencies, or has the vendor directory and our `BUILD` files drifted far enough

[2019-08-28 02:20] rmichela opened #268 "Bazel build //... is broken"
Running `bazel clean`, `bazel build //...` gives the following dependency error:

[code]

Bazel version 0.28.1

[2019-08-28 02:44] moderation commented on #268
I'm building with `bazel build //:protoc-gen-validate` without issue. Not sure what the correct syntax is. I recall what I'm using not being documented properly.

[2019-08-28 23:28] sreenidhy commented on #266
Thanks!

[2019-08-28 23:28] #266 closed

[2019-08-30 07:24] hamed-yousefi-tb opened #269 "PGV is unable to import another generated go file in generated validator file"
I have three proto files A.proto, B.proto and common.proto. I put some common messages between A and B into common.proto and I import it in A and B proto files.
I use the below command to generate the go files:
[code]
Also, I'm using `go_package` to generate A.pb.go and A.pb.validate.go in a specific package. I defined go_package for each as below:
In A.proto `option go_package = "github.com/myrep

[2019-08-30 11:30] alexykot commented on #205
Seems like a duplicate of #102 .

[2019-08-30 11:36] alexykot commented on #102
This can be sometimes workarounded with a pattern comparison, I've managed to do it with the rule `"^([a-f0-9]{64}|.{0})$"`, which forces it to be either hex-encoded 32 bytes, or empty. But this is not elegant and required changes in the API since I had to switch from raw bytes to hex-encoded representation. Proper `omitempty` fix would be way nicer.

[2019-09-01 17:17] #243 closed

[2019-09-01 17:17] #143 closed

[2019-09-04 02:44] #265 closed

[2019-09-04 03:52] qzmfranklin opened #271 "Allow generating .validate.pb.go files in the same directory as the .proto file"
There is a task force :D trying to incorporate this plugin into the following project:

https://github.com/rules-proto-grpc/rules_proto_grpc

As mentioned in [this issue](https://github.com/rules-proto-grpc/rules_proto_grpc/issues/16), a blocker for the above initiative is that `protoc-gen-validate` generates files based on the `go_package` option. This makes it impossible for the [`proto_plugin`

[2019-09-09 20:02] #251 closed

[2019-09-10 06:37] millergarym opened #274 "go.mod for v0.1.1"
Please create a go.mod tagged v0.1.x release.

Simple as
[code]

I'd create a PR, but can't PR against a tag only a branch :-(

[2019-09-10 08:35] GuiBon commented on #240
I'm still unable to generate validator

[2019-09-14 09:09] njordr opened #275 "Usage with python"
Hi.

I'm a little bit confusing on using this validator with python, hope you could help me.

I installed your project and then:
[code]

Seems ok until now. Then I imported these modules:
[code]

Now it's time to validate the message:
[code]

The exception is never raised, also if the message is missing a field. This is the message definition:
[code]

It seems that validate returns a pointer to th

[2019-09-15 03:58] #259 closed

[2019-09-15 15:53] k1ng440 commented on #240
i am having same problem

[2019-09-16 17:51] k1ng440 opened #276 ""-" in file name fails"
hello,
protoc-gen-validate fails if there is a - in the file name.

[error] failed post-processing: 41:12: expected ';', found '-'

thanks

EDIT: i am using golang

[2019-09-16 20:55] rodaine commented on #269
Hey, thanks for the report! Would be helpful to have a (reduced) example of these protos. Otherwise, it's hard to distinguish what's happening here.

[2019-09-16 20:55] dkunitsk commented on #275
Hey @njordr. Sorry for the confusion. The python support was added recently and is still undergoing some testing. Not ready for GA yet. I plan to start this testing around next week, and this will be the first thing I look at.

[2019-09-16 21:17] rodaine commented on #205
Ah, this is indeed a duplicate. Closing in favor of the original

[2019-09-16 21:17] #205 closed

[2019-09-17 06:04] hamed-yousefi-tb commented on #269
@rodaine I wrote this example in this morning: [pgv-example](https://github.com/hamed-yousefi-tb/envoyproxy-example)
If you take a look at [this line](https://github.com/hamed-yousefi-tb/envoyproxy-example/blob/f0aecde0bfa981a52290a6593ff22de1daac2b1f/pkg/api/message/contract/v1/contract.pb.validate.go#L244), you can see that `FilterOperation_name` belongs to `common/v1` package and this package d

[2019-09-17 16:33] scottshotgg commented on #29
Since this is not closed, what was the solution for this?

[2019-09-17 17:31] kyessenov commented on #29
The workaround is to use gogofast and not gogoslick.

[2019-09-17 18:12] rodaine commented on #29
Since the original discussion, it appears we are indeed vendoring the gogo proto extensions, so we could feasibly annotate everything appropriately now.

[2019-09-17 18:19] kyessenov commented on #29
Heads up that xDS is moving to standard golang protos. There's just too much pain trying to manage a mix of bazel, gogo, some gogoslicked protos, some gogofasted protos, and other proto plugins.

[2019-09-19 03:38] iewgnid commented on #275
[code]
I found the same problem. I hope this can solve your problem.
I think it's a bug of validate function in validator.py.

[2019-09-19 08:22] njordr commented on #275
@iewgnid thanks for your dvice, but I still get:
[code]

[2019-09-20 01:00] scottshotgg commented on #29
I did do that but the point was that `gogoslick` provides more benefits such as removing the experimental keys and such.

I did see that, however, still only `gogofast` works.

Ah okay. If that is the case, then I will consider gogoprotos and validate incompatible?

[2019-10-10 01:44] achintya commented on #240
Found a workaround to this issue:
The problem seems to be in master. If you download the `v0.1.0` release intead of `go get -d github.com/envoiproxy/protoc-gen-validate` from the tarball and run
[code]
it'll install the version which works

[2019-10-10 08:17] anotherGoogleFan opened #277 "errors when do go get -u -v"
[code]

And, go version go1.13.1 windows/amd64

[2019-10-15 15:58] hexdigest commented on #102
Hello everyone,

The problem I see here is that all fields in protobuf v3 are optional but protoc-gen-validate already treats any field that has validation rule as required.

However there's already `message.required` attribute. Maybe explicitly added `(validate.rules).message.required = false` can help here?

Example:
[code]

Can be interepreted like "if field is present then its min length must

[2019-10-15 16:03] alexykot commented on #102
Backwards compatibility wise `(validate.rules).message.required = false` is preferred I think because it will not change behaviour of the existing code.

[2019-10-15 16:15] hexdigest commented on #102
@alexykot
```(validate.rules).message.omitempty = false``` actually **CAN** change the behaviour of the existing code because this attribute is already exist and may be used somewhere but doing nothing currently.

I think the safest option is to introduce another attribute for this purpose.

[2019-10-18 07:19] veqryn commented on #102
The lack of this feature pretty much means protoc-gen-validate is near-useless to anyone using protobuf v3.

Just about anyone building a modern api around protobuf v3 will accept missing fields and default/zero values and treat them as such.  Any useful protobuf validation library needs to be able to "validate a field is empty (the default/zero value) or has some property".

I'm not as concerned

[2019-10-18 23:52] nonpcnpc commented on #271
have you tried running protoc with `--go_out=plugins=paths=source_relative:.` ?

[2019-10-18 23:54] nonpcnpc commented on #194
ehm... https://github.com/grpc-ecosystem/go-grpc-middleware/blob/master/validator/validator.go

[2019-10-19 00:02] ghost opened #278 "Add ULID validation"
ULID is defined in https://github.com/ulid/spec. Essentially it is a 26 upper-case characters long string with `0123456789ABCDEFGHJKMNPQRSTVWXYZ` allowed characters. Simple to validate. Having built-in validator instead of pattern would be nice.

[2019-10-19 12:00] ghost opened #279 "Add callback validator"
Since these types of projects are impossible to extend due to their nature(pb+codegen), if there are special needs for some type of custom validation, the user has no other choice but to fork the entire project.

I think this is not necessary if the project would introduce validation callbacks. Essentially anyone could define a function that would be rendered via template, just like a built-in fun

[2019-10-20 17:57] nonpcnpc commented on #271
This works 100%:
[code]

[2019-10-20 18:05] nonpcnpc commented on #102
100%, I just stumbled upon this. Sorry, but this is really unacceptable behavior for this type of project.

[2019-10-21 10:50] thlcodes commented on #276
Same goes for '.' e.g. 'my.service.proto':

`[error] failed post-processing: 41:15: expected ';', found '.' (and 1 more errors)`

[2019-10-21 18:28] rodaine commented on #271
@nonpcnpc is correct, PGV uses the same behavior as protoc-gen-go on deciding where files are emitted. That plugin and PGV uses the `paths=source_relative` parameter to override the default behavior (which is to follow the `go_package` option) and emit the file relative to the source proto instead.

[2019-10-24 20:27] zuercher opened #282 "make lint doesn't actually run the shadow variable check"
Currently the shadow variable tool is not being executed in CI or via `make lint`.

In the Makefile, this line:
`    go vet -vettool=$(which shadow) *.go`
evaluates to
`    go vet -vettool= *.go`
because the $-expression is evaluated by make and not the shell.

To pass the correct command line to the shell, the $ needs be doubled: `$$(which shadow)`. Fixing this causes a CI failure because the lat

[2019-10-28 21:46] hexdigest commented on #102
@veqryn @nonpcnpc @alexykot
You can use https://github.com/hexdigest/protoc-gen-validate/tree/omitempty as a workaround until the PR is merged

[2019-10-29 07:41] nonpcnpc commented on #102
@hexdigest thanks but i already wrote my own protoc generator :) with blackjack and ...

[2019-10-29 08:10] hexdigest commented on #102
@nonpcnpc I don't see any commits in your forked repo can you please point me to the changes you made?

[2019-10-29 11:45] nonpcnpc commented on #102
I ended up writing a new one from scratch. This one and mwitkow's, or any other pb validators, suffer from the simple fact that they have predetermined list of built-in validators. So I have wrote protoc generator that uses closures instead. It is go-only, but that is all I need.

[2019-11-03 05:40] qzmfranklin commented on #271
I believe my problem is solved with `paths=source_relative`.

Thank you

[2019-11-03 05:40] #271 closed

[2019-11-03 11:49] wxio commented on #240
I've tried v0.1.0 and master, neither worked for me.

[2019-11-04 21:49] #130 closed

[2019-11-06 00:59] CAFxX commented on #47
Another argument in favor of supporting this is that in the ecosystem there is already standardized support for reporting validation errors in multiple fields:

https://github.com/googleapis/googleapis/blob/5691fcb7c1a926b52577aa1834f31d9c50efda54/google/rpc/error_details.proto#L132
https://github.com/grpc-ecosystem/grpc-gateway/blob/da7a886035e25b2f274f89b6f3c64bf70a9f6780/third_party/googleapis/

[2019-11-06 01:06] CAFxX commented on #47
I don't think this tradeoff is necessary (assuming that the speed penalty of always returning all of them is a concern). You could return just the first one in the ValidationError as today, but add a method to it (e.g. `AllErrors() []ValidationError`) that would perform validation again but without stopping at the first one and returning all found errors.

[2019-11-11 13:30] wtcross opened #287 "JavaScript Support"
Thank you for creating this project!

I'm working on something that would benefit from `protoc-gen-validate` having JavaScript support. This would have to be for both browser and NodeJS environments. I'm planning on using `grpc-web` and would like to have validators generated for all involved code bases, including the browser.

Before I start working on this I wanted to know if the authors would b

[2019-11-11 14:43] #287 closed

[2019-11-11 14:44] wtcross commented on #287
Considering these are server-side validators I don't think my request makes sense. Closing this.

[2019-11-11 14:49] seime commented on #287
The validator could run in the client as well, validating the request (and
later the respons(es)).

Arne

On Mon, 11 Nov 2019, 15:44 Tyler Cross, <notifications@github.com> wrote:

[2019-11-11 15:39] glerchundi commented on #287
Also a dup: https://github.com/envoyproxy/protoc-gen-validate/issues/71

[2019-11-15 13:42] vuemaster commented on #277
Same here....

[2019-11-18 21:25] rodaine commented on #102
Duplicating discussion from #283:

I'm open to suggestions? Something like `ignore_empty` or `ignore_zero_value` seems closer to the meaning than `omitempty` .

[2019-11-18 21:32] rodaine commented on #277
PGV has not been migrated to modules just yet.

Do you see this error if you install into the `GOPATH` and perhaps make sure `go111module=off`?

[2019-11-19 02:26] veqryn commented on #102
I think `ignore_zero_value` is probably the least confusing outside of golang. But I like both suggestions.

[2019-11-19 06:38] hexdigest commented on #102
Hi,

@rodaine @veqryn If you're ok with `ignore_empty` I can redo it.

[2019-11-20 09:28] hexdigest opened #290 "make ci job is broken"
Hi,

It happens both in my local environment and in the provided docker container.
If I replace `RUN make build` with `RUN make ci` I see the following error:
[code]

I see the same error when I try to do it locally with `make ci`

[2019-11-20 12:18] Allen0710 opened #291 "java protoc-gen-validate has error"
if my proto has package option, compile will throw protobuf\java-pgv/example\CollectCountValidator.java: No such file or directory
if not, success

[2019-11-21 07:11] rmichela commented on #291
Thanks for the report @Allen0710. Is it possible to provide a sample proto that replicates this problem?

[2019-11-21 07:24] empirefox commented on #279
Maybe like this:
[code]

generate for go for example:
[code]

[2019-11-21 23:56] rodaine commented on #279
There are discussions (#128) to support arbitrary expression predicates for validating messages in more complex ways (eg, comparing two fields). Any validations that extend beyond that tend to be leaking business logic for the consumers; said another way, if the validations aren't included with the proto message declaratively, then they aren't part of the contract you share with other consumers of

[2019-11-23 13:36] nonpcnpc commented on #279
this is actually a valid point. i have wrote my own proto(c) validation with callbacks and it works for me because the code is not meant to be shared outside. but for public apis, your point makes this either a bad idea or it woud only work with Go since go would get the dependencies just fine, but not for other languages.

[2019-11-24 13:23] devbrom commented on #240
I checked this
For me, it stopped working after PR #220 has been merged. But I can’t understand why...

[2019-11-30 21:38] #282 closed

[2019-12-05 15:49] bufdev commented on #290
I can also confirm that `make ci` does not work in Docker out of the box on the current commit on master:

[code]

[2019-12-06 05:56] dackroyd opened #295 "Generation fails with java_multiple_files proto option specified"
Generation fails when the `java_multiple_files` option is configured to be `true`

[code]

[code]

Uber's Prototool will create protos with a default set of options for each language, and checks for the presence of those options as part of it's linting checks.

I'm actually trying to generate validators for Go, however the java options are also present in my proto files, and this is causing the ge

[2019-12-13 18:46] bufdev commented on #240
This is happening for me as well for `lt/lte/gt/gte` validations.

[2019-12-14 12:39] rost5000 opened #296 "gradle project using "protoc-gen-validate" can't be compiled on Windows"
I tryed to add the following dependencies into my gradle project from readme.

And copied example.proto from readme:
[code]
At the end, I caught an exception when i ran `gradle build` (I didn't write  a full path):
[code]
However, the problem wasn't on the linux. Probably, the problem is in symbols '\\' and '/'.

What should I do? Can I redefine full path?

[2019-12-18 12:32] vtolstov commented on #275
how to use validator without run bazel to get python generated stuff?

[2019-12-18 14:20] vtolstov commented on #255
does anybody can do progress on this?

[2019-12-20 15:39] Orbz opened #299 "Expose go_proto_compiler to consuming Bazel projects"
First off, love and appreciate the work you guys do on this project! One feature request: It would be awesome to have the [go_proto_compiler](https://github.com/envoyproxy/protoc-gen-validate/blob/master/bazel/pgv_proto_library.bzl#L6) exposed such that consuming bazel projects could depend on it. Currently we have to manually generate and check in the `*.pb.validate.go` files instead of having th

[2019-12-21 15:19] acrazing commented on #29
Is there any update about this issue? I meet this again with message:

[code]

[2019-12-21 16:27] EItanya opened #300 "Update gogoproto/gogo.proto"
The `gogo.proto` file located in `gogoproto/gogo.proto` is out of date. Our project is vendoring in protos from this projects which is causing our protoc commands to fail. We have found a work around, but it would be nice to update to the latest changes.

I realize that the go-control-plane has updated to goproto, so the purpose of this issue is not gogo support. But rather just to update the file

[2019-12-22 15:47] rmichela commented on #296
Are you using the latest protoc? The path segment `/generated/source/proto/main/javapgv/` is owned by protoc, not PGV. PGV gives `examplepb\ExampleValidator.java` to protoc, and it constructs the final path based on its input.

[2019-12-22 15:51] rmichela commented on #295
To help understand this bug, adding `option java_multiple_files = true;` to a proto, and then running the golang generator breaks go compilation?

[2019-12-22 16:03] rmichela commented on #291
I suspect this issue is related to https://github.com/protocolbuffers/protobuf/issues/4708

[2019-12-22 16:03] rmichela commented on #296
I suspect this issue is related to https://github.com/protocolbuffers/protobuf/issues/4708

[2019-12-23 12:46] rost5000 commented on #296
I used `com.google.protobuf:protoc:3.5.1` dependency in gradle project. It was described [here](https://github.com/envoyproxy/protoc-gen-validate/blob/master/README.md). The gradle project set the default output directory: `build/generated/source/proto/main`.
There is 3 directory more:
* grpc (from protobuf)
* java (from java additional code)
* javapgv (from protoc-gen-validate)

Unfortunately, wh

[2019-12-23 20:39] asraa opened #303 "C++ URI validation in Envoy"
Looks like Envoy is using C++ URI validations in StsService:
https://github.com/envoyproxy/envoy/blob/062c895f499382ae61dead16db2a7e78b9146525/api/envoy/api/v2/core/grpc_service.proto#L94

Config validations throw an unimplemented exception when initializing the server (rather than a controlled a `ProtoValidation` error).
https://oss-fuzz.com/testcase-detail/5665272556158976

It might be a good ti

[2019-12-25 22:23] #277 closed

[2019-12-29 03:49] rmichela commented on #296
🤔 That's _interesting_! I don't have access to a windows computer. Can you elaborate on the incompatibility with the latest windows protobuf? How does it break? What is the error? Java protobuf libraries are normally very stable.

[2020-01-02 21:24] akonradi commented on #299
Maybe I'm misunderstanding the issue, but why can't you import `go_proto_compiler` from the same `@io_bazel_rules_go` repository? It doesn't seem like it makes sense for PGV to re-export it unmodified.

[2020-01-03 14:26] Orbz commented on #299
The `go_proto_compiler` is still imported from `@io_bazel_rules_go`. Using that rule it's possible to define a compiler that can be used externally to automatically generate the `*.pb.validate.go` files as part of a Bazel build. There's already an instance of this being done internally [here](https://github.com/envoyproxy/protoc-gen-validate/blob/master/bazel/pgv_proto_library.bzl#L6), but it's no

[2020-01-03 14:36] akonradi commented on #299
Got it, specifying compiler rules is a different approach than I'm familiar with; I'd recommend adding a `pgv_go_proto_library` rule to your BUILD file that would generate the .pb.validate.go, but I can see how there are benefits from combining all the proto compiler invocations. @Orbz I'd be happy to review a PR refactoring out those `go_proto_compiler` target definitions and making them public.

[2020-01-08 00:19] JimmyCYJ commented on #303
@asraa Thanks for letting me know. I just hit the same issue when I start to set up integration test today.

[2020-01-10 07:46] dackroyd commented on #295
Yes that is correct. Proto code generation for Go breaks if `option java_multiple_files = true;` is present in any of the protos. I've not tried out code generation for _other_ languages with this option set to confirm if those work or not.

[2020-01-12 19:45] bufdev commented on #240
Not stale

[2020-01-13 01:01] dackroyd commented on #295
This appears to be similar (or the same?) as #245

[2020-01-13 07:18] clearcodecn commented on #240
hello any update on this?
this don't worked for mee too.

[2020-01-13 08:21] dackroyd commented on #295
I suspect this is a result of using an older revision of `protoc-gen-validate` (`0.1.0`). The `0.2.0-java` release mentions a couple of fixes that are likely related. I'm in the process of checking against `master` to confirm if any further issue persists.

[2020-01-13 12:16] dackroyd commented on #295
Tested with `master` (commit fced6c08bbb48a75fcf585f33b50fe65c0ff630e), and generation appears to be working. Apologies for the incorrect report!

[2020-01-13 12:16] #295 closed

[2020-01-14 03:46] jrbotros commented on #275
Any update here? Would love to help get this across the line!

[2020-01-14 23:55] dackroyd opened #305 "Package import conflict in generated Go code with multiple imported proto packages"
I have some protos that import 2 other packages, where those package names both end with the same suffix. This is potentially quite common when following the Uber2 style guide, as the package version is used as the last element of the path (which is the case that applies here), but could happen other cases as well

Now this case doesn't appear to cause an issue in _many_ cases, however we've stumb

[2020-01-15 07:01] dackroyd commented on #305
This is similar in nature to #172, but not related to Bazel necessarily

[2020-01-19 17:53] acrazing opened #306 "required repeated items"
Is there an option to force repeated nested message to be required? I tried `items.message.required`, but it seems to be omitted.

The configuration:

[code]

I hope the `Input.Validate()` message returns an error if the input's items contains nil element, but it does not work.

[2020-01-21 22:00] jrbotros commented on #275
@iewgnid I was able to get this to work by calling `validate` on the class itself first:
`validate(example_pb2.Request)(request_instance)`

[2020-01-22 15:21] iewgnid commented on #275
@jrbotros looks great! thank you for sharing! :-)
actually, for protobuf, i’m not sure about should we put validation on it. and protobuf3 removed validation function..
(it’s ture some project runs on protobuf2..)

i changed to use jsonschema, which can do schema define and validation as well. :-)

[2020-01-28 17:26] #291 closed

[2020-01-31 16:30] gertvdijk opened #308 "Bazel 1.0+ failures due to virtual source root (/_virtual_imports/)"
(This is a quick report, I can make a minimal example some time later.)

Has anybody tried to use the combination of:

* Bazel 1.0+
* Protobuf 3.11.x
* `protoc-gen-validate`'s pgv Bazel rules?

I'm having issues with (at least) the build of the java_proto_gen_validate srcjars.

[code]

with sandbox debugging I see protoc invocations that explain this error:

[code]

Having a look at the argument
[

[2020-01-31 17:10] gertvdijk commented on #308
This quick-'n-dirty patch allowed me to build at least the jars. Doesn't look like the most stable change, but I'll just leave it here for reference.

[code]

[2020-02-02 05:37] felfelche opened #309 "Implement multiple comparison in C++"
when I have 2 or more unique list fields in Protobuf message for example:

[code]

`protoc-gen-validate` generates two comparison code for it in C++ in Validate scope:

[code]

And I get 'struct' type redefinition error:

[code]

[2020-02-04 11:47] gertvdijk opened #310 "Bazel: Unable to build with pgv_dependencies(), Maven Central use of HTTPS is now required"
I noticed some dependencies provided via the Bazel function `pgv_dependencies()` are using plaintext HTTP. Since last month, this shows up as error if you don't have the artifact in cache already.

For more information, please refer to
https://blog.sonatype.com/central-repository-moving-to-https

(This is a trivial change, I'll submit a PR in a bit.)

[2020-02-04 19:31] #296 closed

[2020-02-04 22:50] #310 closed

[2020-02-04 22:53] rmichela commented on #296
Answering these questions will go a long way towards fixing this issue.

[2020-02-07 13:32] SevereCloud opened #312 "GPL in Jinja2 v2.10.1"
**PGV** use Jinja2 [`v2.10.1`](https://github.com/pallets/jinja/releases/tag/2.10.1)

https://github.com/envoyproxy/protoc-gen-validate/blob/b322089627ef9114eb1751f044f7979beddc885f/requirements.txt#L3

The file [ext/jinja.el](https://github.com/pallets/jinja/blob/c4c4088945a2c12535f539be7f5453b9ca94666c/ext/jinja.el#L14-L19): is GPL v2 licensed. It says you can use later versions but still of GPL

[2020-02-09 21:03] xmlking commented on #223
any update on this ? Thanks

[2020-02-10 20:15] josdotso commented on #240
Definitely not stale. I'm getting this on b322089627ef9114eb1751f044f7979beddc885f

[2020-02-12 02:21] rmichela commented on #240
How does reverting the extension number fix the problem?

What language are you using? What version of protoc? What version of PGV?

[2020-02-12 11:12] shsimeonova opened #314 "Python Usage jinja2.exceptions.UndefinedError: 'str object' has no attribute 'DESCRIPTOR'"
Hello,

My issue is related to https://github.com/envoyproxy/protoc-gen-validate/issues/275
I'm testing the tool using python. I've taken the validate.py file and added it to my testing project, so have generated python files from the validate.proto and mine. My proto looks like this:

[code]

my data:

[code]

testing source;

[code]

and get the following error:

[code]

I really don't understan

[2020-02-12 12:16] shsimeonova commented on #314
Update:

This is the generated validation function:
[code]

The problem comes from embedded = validate(p.name)(p.name) as p.name at this point is a string type aaaand im guessing Jinja throws the error on  the first row of

[code]

[2020-02-13 14:07] memignone commented on #314
@shsimeonova your error is using the **message.required** rule on a primitive type like string.
Since the default value of string is an empty string, you could check for a string different than that on the field "name".

[2020-02-13 17:05] shsimeonova commented on #314
@memignone okay then, how do you make a primitive field required/not null? do you use {not_in: [" ", ""]} (space, empty string) ?

[2020-02-14 09:52] memignone commented on #314
@shsimeonova maybe you could use a regex to do that like:
`[(validate.rules).string.pattern = "^(?!\s*$).+"]`

[2020-02-14 13:02] mortenlocka commented on #48
We have started on this at https://github.com/entur/protoc-gen-validate

[2020-02-14 15:28] asraa opened #316 "Clean-up regex dupes across code"
Right now, there are dupes in `KnownRegex` that are used to test common patterns for HTTP related specs, as well as dupes for the uuid pattern. These can be consolidated to a single source of truth to share across all code.

`KnownRegex` introduced here to define common constrains in the form of regex patterns: https://github.com/envoyproxy/protoc-gen-validate/pull/297

[2020-02-21 11:07] #305 closed

[2020-02-21 12:04] LDAR2011 commented on #74
How ? Could you show me an example?

[2020-02-21 21:05] vtolstov commented on #275
gentle ping..

[2020-02-25 00:55] gattytto commented on #308
I'm hit by this using the following:

WORKSPACE:
[code]

BUILD.bzl
[code]
[code]

[2020-02-25 09:22] electrofelix opened #318 "Question - how to manage generated python structured in sub-directories"
I'm making use of prototool - https://github.com/uber/prototool, and we're following one of the recommended practices to use `<pkg>/<version>/<component>.proto` so that over time it's possible to have multiple versions of our API when it comes to making more radical changes. So we have the following structure

[code]

Note we treat our code generated from the proto definitions as a separate librar

[2020-02-25 09:58] gertvdijk commented on #308
@gattytto Your example does not include anything from this project (protoc-gen-validate). What makes you post it here? More Bazel projects using Protobuf have issues. In this case maybe check with `com_github_grpc_grpc_web`.

[2020-02-25 18:44] deceive3w opened #319 "Validate empty string or required string"

[2020-02-26 15:03] electrofelix commented on #318
So I clearly should have spend a bit more time experimenting before I posted the question.

It seems I had a copy of the required files at the base of the project as well, even though I was thinking the imports are relative, it is relative to the project root rather than the current file. Doh.

Though one remaining question is that because some files are generated, having some files to be copied i

[2020-02-26 19:05] gattytto commented on #308
@gertvdijk you are right I'm sorry for the offtopic, this seems to be a bazel specific issue

[2020-02-27 05:39] #306 closed

[2020-03-04 10:29] gtato commented on #275
I still don't get how this is supposed to work with python. Do we need to run "make bazel"? (for me it fails). If not, where do we get validate_pb2? In validate_out do we need to specify lang=python? If not why do you say "python" is a supported value for lang?

[2020-03-05 08:44] hudingchen opened #320 "Add support for grouping validation."
I want to be able to specify a group name to validate different fields.
A simple example like this:
[code]
[code]

[code]

[code]

[2020-03-05 09:39] hudingchen commented on #320
I want to be able to specify a group name to validate different fields.

[2020-03-05 14:16] akonradi commented on #320
This is more logic than I'm comfortable putting in PGV. There's all sorts of interactions that have to be considered; for example if Order contains its own nested message with a field with a "create" group validation, would that be applied for an Order in an UpdateOrderRequest or just a CreateOrderRequest? What if I want a validation to apply for "create" and "update" groups but not "delete" group

[2020-03-05 15:00] hudingchen commented on #320
The order object actually has 100+ fields, so this feature is useful to me.

hibernate-validator implements the group feature,
https://docs.jboss.org/hibernate/validator/5.0/reference/en-US/html/chapter-groups.html#d0e2595
But it does not support the protobuf class.
I know it is difficult to implement it, I hope to consider it.

[2020-03-06 19:36] snowp opened #321 "enum validation fails when enum defined in different package"
Using the following validation
[code]
fails with

[code]

Seems like the generated code is not including the fully qualified name of the enum type

[2020-03-06 19:54] Tochemey opened #322 "Integration with scalapb"
I would like to know whether there will be any integration with scalapb.

[2020-03-10 05:15] #312 closed

[2020-03-10 08:04] #309 closed

[2020-03-12 17:20] nareddyt commented on #303
Thanks for posting this issue @asraa, we also ran into the same issue. Would love to see this implemented, even if it's a regex check. Would be very helpful for config validation.

[2020-03-15 15:23] internetstaff opened #324 "Combining min_pairs and key/value validation on a map fails to generate correct validation in Java"
First, thanks for a great project!

We're starting to use this internally and noticed validation wasn't working on a map.

We used this format to specify multiple rules:

`map<string, string> stuff = 3 [(validate.rules).map.min_pairs = 1, (validate.rules).map.keys.string.uuid = true, (validate.rules).map.values.string.min_len = 1];
`
We figured out if min_pairs was first, it was left out of the ge

[2020-03-16 16:25] akonradi commented on #324
This is a limitation of the proto extension syntax. The first declaration is not supported. See #203

[2020-03-16 16:44] internetstaff commented on #324
Thanks for clarifying. I now suspect we saw the first declaration in a ticket as I don't see any examples like that in the documentation. Sorry for the bother!

[2020-03-16 16:44] #324 closed

[2020-03-20 03:26] #240 closed

[2020-03-22 12:22] #314 closed

[2020-03-22 17:22] #316 closed

[2020-03-23 05:40] joshcarp opened #325 "Deleted tag v0.3.0"
Hello,
I was wondering if any tags have been deleted/renamed recently;
We've got a project at https://github.com/anz-bank/sysl and we've got a dependency that I updated a couple of days ago, but now it can't be found on some machines that haven't cached it locally:
[code]
I was wondering if i've gone mad or if this is indeed the tag that is now renamed to `v0.3.0-java` possibly from `v0.3.0`?
If t

[2020-03-23 16:24] bjaglin commented on #322
Related discussion: https://groups.google.com/forum/#!msg/scalapb/8Yg8HZpxE3w/M1N6PNT9AAAJ

[2020-03-23 19:19] electrofelix commented on #318
The current output generated looks to import `validate` as a module at the top level, which might be fine for an application, but it makes exposing the generated python code as a library pretty cumbersome because from the applications perspective the validate code in the top level of the library is not available directly to import when you import the library.

My workaround to this was to have the

[2020-03-25 00:03] v3n commented on #29
You can compile with gogofaster/gogoslick by writing a custom frontend with the following additions (to whatever your base frontend is):

[code]

in `main()`:
[code]

[2020-03-26 20:18] SecurityInsanity commented on #319
Hey @deceive3w ,

This can currently be handled by https://github.com/envoyproxy/protoc-gen-validate#strings min_bytes equal to 1. Which ensures the string has at least one particular byte. Did you want something more, or will that work for you?

[2020-03-27 09:18] dmzkrsk commented on #240
Problem still exists for me

PGV from master, libprotoc 3.7.1

[2020-03-27 09:55] SecurityInsanity commented on #240
Hey @dmzkrsk ,

What languages are you trying to use PGV for? Is it golang?

[2020-04-03 19:45] #308 closed

[2020-04-10 08:51] gertvdijk commented on #308
This appears to be solved in another PR which is merged already. :tada:

https://github.com/envoyproxy/protoc-gen-validate/commit/0f2bc6c0fdac9113e3863ea6e30e5b2bd33e3b40 (#327)

(I did not validate it yet, but it looks like it fixes this in the similar way as my dirty hack posted above.)

[2020-04-11 03:50] #275 closed

[2020-04-11 16:50] #320 closed

[2020-04-14 14:10] sashayakovtseva opened #329 "Repeated enum validation not_in is not generated"
Affected versions: v0.0.14, v0.1.0

Input test.proto:

[code]

Generate command:
[code]

Expect: all validate rules are generated correclty.

Actual: rules are generated, but `_Request_Status_NotInLookup` is undefined.

[2020-04-14 16:42] akonradi commented on #329
Thanks for the super-clear reproducer!

[2020-04-20 08:43] inigohu commented on #128
Could you consider a middle way? For example, add conditionals as AND/OR. This would solve many use cases without having to implement CEL.

[2020-04-21 13:46] davedotdev commented on #269
Hey group! I came across this exact thing about five minutes ago. Whilst the validation code generates just fine, the generated import() list in my *.validate.go file is missing code from a common proto type I use throughout my other protos.

// Expected
`package proto_tf_x

import (
	"bytes"
	"errors"
	"fmt"
	"net"
	"net/mail"
	"net/url"
	"regexp"
	"strings"
	"time"
	"unicode/utf8"

	"github.com/

[2020-04-23 15:08] electrofelix commented on #318
I think there is still questions to be answered about how best to integrate the python validation code, possibly some improvements can be added.

[2020-04-24 15:20] uvyuhin commented on #240
Hey everyone!
Maybe this will help someone.
I faced with the same issue after transition from `v0.1.0` to new `v0.3.0-java` release:
generated go validations for my project became empty.
I updated dependency in go mod to v0.3.0 but didn't update `validate` directory from `protoc-gen-validate` source. That is why new extension numbers didn't work for me.
But after updating `validate` directory go v

[2020-04-29 14:01] penguingao commented on #329
I find that repeated.items.uint32.{in} is also seeing similar error.

[2020-04-30 06:15] #325 closed

[2020-05-02 22:03] #319 closed

[2020-05-04 09:15] Skarlso opened #333 "Please try and avoid renaming tags"
Now-a-days with go mod working on tags and writing things down in go.sum, it's easy to break one's build when a tag gets deleted / renamed.

Please try to avoid doing that, or at least, if you do that, please create an issue so search engines can pick it up and people can find what do in that case. Many who don't realise that they just have to delete a line from the sum file or fix a tag in their

[2020-05-04 10:08] Skarlso commented on #333
Related issue: #325

[2020-05-12 14:49] Apologiz opened #335 "Proposal. Field validation logic in yaml file"
Colleagues, there is a suggestion.
Pull out field validation logic from proto to yaml file, following the example of [grpc-gateway to describe http services](https://grpc-ecosystem.github.io/grpc-gateway/docs/grpcapiconfiguration.html).
This would clear proto files from the dependency on the library.
Is such functionality currently being developed?
If not, then I would be happy to discuss this opp

[2020-05-15 19:45] #329 closed

[2020-05-21 00:50] lolin9 opened #336 "Golang: Validate well-known formats in strings only if non-empty?"
Golang's protobuf has no optional types, not even pointers for the elementary types like strings. If the string is not set then it's an empty string, however this causes a problem when you need to validate strings only if they are set. Am I missing something or this could be considered a feature request?

[2020-05-26 11:53] electrofelix commented on #318
I think my comment in https://github.com/envoyproxy/protoc-gen-validate/issues/318#issuecomment-602804510 does indicate there is a potential for either a user caused problem, an enhancement or a bug, probably needs a response from a maintainer to indicate whether I'm doing something incorrect or if there is something that needs fixing/improvement.

[2020-06-01 07:58] videni opened #341 "unable to deduce repository and source type for "golang.org/x/net":"
[code]

[2020-06-02 06:31] SecurityInsanity commented on #341
Hey there @videni ,

This seems to work for me locally on my machine, and on another machine I tested. Looking at your profile it says your in China, and China [has been known to block golang packages for dep](https://github.com/tools/godep/pull/214), however [the common workaround seems to be checking them out locally from a mirror](https://github.com/northbright/Notes/blob/master/Golang/china/ge

[2020-06-02 19:32] sashayakovtseva opened #342 "Add module flag"
Protobuf is about to make a go_package option [required](https://github.com/protocolbuffers/protobuf-go/releases/tag/v1.20.0#v1.20-required-gopackage).
As for now `go_package` should be a fully-qualified Go package name: see [examples](https://developers.google.com/protocol-buffers/docs/gotutorial#defining-your-protocol-format).

With [recent protoc-gen-go update](https://github.com/protocolbuffer

[2020-06-08 15:21] Prideauxx commented on #275
Hi!  Attempting to work with PGV now using Python--is there an update to this issue?

[2020-06-09 11:59] Prideauxx opened #345 "Update request, Python example"
The Python example as described in README.md appears incomplete.  Please consider fleshing it out more using the given Persons 'example.proto', also from README.md.  I spent just over a day working with reversing the bazel test scripts to put something functional together--I'm still not quite there.  From a somewhat experienced (non-neophyte) developer's point of view, this has been more difficult

[2020-06-10 11:02] #333 closed

[2020-06-12 04:15] wozz commented on #267
I think this should be fixed now.

[2020-06-15 09:08] tomaszstaniewicz opened #347 "PGV crashes with status code 2 for repeated wrapped types"
**Environment:**
java 8
maven  3.6.0

**Description:**
I have a Java project and use PGV maven plugin to generate proto classes with validations.
The following proto file causes PGV plugin crash:

[code]

The following message is logged:
[code]

I think it should be normally compiled by the PGV plugin, because according to the README - wrapped types (in this case google.protobug.StringValue) shoul

[2020-06-16 13:47] tomaszstaniewicz commented on #347
Just to be precise. This is general problem with repeated wrapped types, not only StringValue.

[2020-06-16 15:24] rmichela commented on #347
wild. looks like this is the offending go function:
`github.com/envoyproxy/protoc-gen-validate/templates/java.javaFuncs.unwrap`

[2020-06-17 19:13] bjaglin commented on #322
For visibility: effort ongoing in https://github.com/scalapb/scalapb-validate.

[2020-06-19 16:31] jianwen612 opened #348 "negative "nanos" generated by type "Duration""
*Description*:
When I was using token_bucket protobuf which is defined here:
`api/envoy/type/v3/token_bucket.proto`
Some test case generated by fuzzer shows negative "nanos":

      seconds: 12032
      nanos: -8
    }

By looking into it, I found that in type `google.protobuf.Duration`,
it seems the validation only checks the "sum" of `seconds` and `nanos` but doesn't check them separately.
(The

[2020-06-20 10:51] #335 closed

[2020-06-22 14:14] akonradi commented on #348
It looks like the code that checks for valid duration protos is incomplete. From [the docs](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Duration):

It definitely makes sense to allow negative `nanos` but only when `seconds` is not positive. @jianwen612 if you have time to fix this I'd be happy to review a PR.

[2020-06-22 22:31] jianwen612 commented on #348
You are right. I haven't written any Go code before. Should I make a PR in this repo or Envoy main repo? And one more question: is it enough to fix it by only modifying the .go file mentioned above? Thanks!

[2020-06-23 12:12] asraa commented on #348
In the protoc-gen-validate repo. Fixing the code here
https://github.com/envoyproxy/protoc-gen-validate/blob/3bd820adb86cc455b16b37465905a9b99e22cbbb/templates/cc/duration.go#L11

would fix for C++, but there are other places duration is checked (@akonradi correct me if I over-specified these....)

https://github.com/envoyproxy/protoc-gen-validate/blob/master/validate/validator.py#L346
https://git

[2020-06-23 13:21] akonradi commented on #348
+1 for unit tests. You should add your bad proto as a negative test case [here](https://github.com/envoyproxy/protoc-gen-validate/blob/beba99e6f6dddee76f42751d2959d33a0775f324/tests/harness/executor/cases.go#L1207), and probably some other examples to make sure we're actually handling the various edge cases correctly. The protos in there get run against validators for all supported languages so th

[2020-06-27 07:50] #336 closed

[2020-07-01 20:21] akonradi commented on #348
I've been looking at how to implement this, and it's less straightforward than I thought. As I see it, the options are
1. check that *every* duration proto conforms to the sign/bound checks, except that this won't traverse protos that don't have `[validate]` annotations
2. check that any field with a `validate.duration` annotation is also a valid proto - this works fine, except for fields that don

[2020-07-03 03:47] #318 closed

[2020-07-04 11:48] dtaniwaki commented on #266
Has this been released?

[2020-07-05 04:53] thesamet opened #351 "Release java artifacts for 0.4.0"
It looks like the jars for 0.4.0 are still not available on maven central: https://repo1.maven.org/maven2/io/envoyproxy/protoc-gen-validate/pgv-java-stub/

[2020-07-05 04:55] thesamet opened #352 "email validation throws `StringIndexOutOfBoundsException` on empty string"
The [code here](https://github.com/envoyproxy/protoc-gen-validate/blob/4f00761ef740eb579cfddcfee3951e13c4fae6f8/java/pgv-java-stub/src/main/java/io/envoyproxy/pgv/StringValidation.java#L105) tries to access the last character of the string without checking if the string is non-empty first, and as a result may throw `java.lang.StringIndexOutOfBoundsException` instead of `ValidationException`.

[2020-07-06 13:16] seime opened #354 "Enum rule defined_only not aligned with official protobuf style guide"
Note: Only tested with Java.

According to the official style guide https://developers.google.com/protocol-buffers/docs/style#enums the enum value `0` should be used to indicate that the enum constant is `UNSPECIFIED` or not set at all.

The Enum rule `defined_only` accepts `0` as a valid enum value.

Either the rule should be updated to disallow `0` or there should be another rule in place.

Work

[2020-07-06 13:19] akonradi commented on #354
I'd treat that style guide as suggestions (i.e. "you really should do this"), not hard-and-fast rules. Since it's not baked into the protobuf compiler, and there is a workaround, I'm hesitant to break everyone who uses 0 as a valid enum value.

[2020-07-06 13:24] akonradi commented on #351
@rmichela is there a procedure for generating these? Is this something we could/should automate?

[2020-07-07 14:31] vtolstov opened #355 "export ValidationError interface for go"
i'm use validator in rest handler but i want to send for user only field name that contains error. Now i need to have own
[code]

What you think about adding such interface to go package? So users can cast error.(ValidationError) and operate on specific methods
Also may be useful to add Convert(err error) ValidationError function. So users can do
[code]

[2020-07-07 15:10] akonradi commented on #355
Sure, having a common interface that all of the various validation errors fulfill sounds like a good idea. I don't understand the `.Convert()` suggestion though. Is that something we could do with [`errors.As`](https://golang.org/pkg/errors/#As)?

[2020-07-07 17:49] adriangb commented on #345
+1 on this, it would be great to have a fully working example in Python.

[2020-07-07 17:56] adriangb commented on #237
Before I found this library, I was actually thinking of doing something similar to this project by using a combination of python-betterproto and pydantic. It looks something like this (this is a working but incomplete example):

[code]

This seems to achieve what PGV is doing, but using pure idiomatic Python. Does anyone have any insights on this approach vs PGV, or how the two might be reconciled

[2020-07-07 18:43] akonradi commented on #237
One of the goals with PGV is to have the validation specifications be language-neutral, so any approach would need to take protos as input and produce Python code.

[2020-07-07 18:52] adriangb commented on #237
Right, so couldn't code like the above be generated based on the protos? It's not clear to me how the PGV part of the protos is parsed. So the input to the above example would be:

[code]

[2020-07-07 19:02] akonradi commented on #237
Absolutely. The PGV part is parsed by looking at the descriptor for the message being passed in, using jinja2 templates to generate some Python code, and then executing that. See [here](https://github.com/envoyproxy/protoc-gen-validate/blob/e8f17d395d65c136545670ba51bb0cae16973a7d/validate/validator.py#L156), for example.

For the Go and C++ code, we've been reluctant to add additional run-time de

[2020-07-07 21:34] adriangb commented on #237
That looks pretty similar to how python-betterproto itself generates the compiled `.py` files (see [here](https://github.com/danielgtaylor/python-betterproto/blob/master/betterproto/templates/template.py.j2)).

It should be possible to pre-write the Python validation functions and have a jinja2 template that ties them to the python-betterproto compiled `.py` files.

So for example (just throwing e

[2020-07-08 09:43] vtolstov commented on #355
Also will be fine to add to internal struct field and public method to get struct name For now it auto added to Error() method, but not possible to get it via some method.

[2020-07-08 09:44] vtolstov commented on #355
@akonradi yes, this looks suitable.

[2020-07-08 12:13] Kernald commented on #308
I still encounter it when using the v0.4.0 tag which seems to include #327. This is what I have:

[code]

Note this path: `--proto_path=_virtual_imports/descriptor_proto/google/protobuf/descriptor.proto=bazel-out/darwin-fastbuild/bin/external/com_google_protobuf/_virtual_imports/descriptor_proto/google/protobuf/descriptor.proto`

It starts with `_virtual_imports/`, no leading slash. Whereas the lo

[2020-07-08 14:00] akonradi commented on #355
@rodaine this seems like it would introduce a compilation dependency on PGV in addition to using it for code generation. Is that something we're okay with doing in Go? We have similar support libraries in C++ and Python.

[2020-07-09 21:10] maheshvra opened #357 "Question regarding data validation rules"
Hi all - I have a time sensitive question to evaluate whether this library would be helpful to our critical need. Can i create a validation rule for an attribute which also considers value of another attribute?

For e.g. given the data below, check annualGrossIncome is greater than 0 only if one is employed otherwise skip

[code]

[2020-07-09 21:19] akonradi commented on #357
No, cross-field validations aren't supported. See #128.

[2020-07-10 03:06] maheshvra commented on #357
Thanks @akonradi for the quick response.

[2020-07-10 05:58] #341 closed

[2020-07-10 05:58] #342 closed

[2020-07-10 19:18] cyx commented on #240
Problem exists for me. It worked when I switched down to 0.1.0.

[2020-07-13 11:05] gertvdijk commented on #308
@Kernald I still haven't validated a newer release with this this PR yet, but what I can say is that the check including a leading slash works for me/us (check [my local patch](https://github.com/TulipSolutions/tecl/blob/837a7ddae7bffffa3518a399db342f37b8fb2aed/third_party/patches/com_envoyproxy_protoc_gen_validate/0002-Strip-virtual-imports-directory-from-proto-path.patch#L45)). I'm wondering wha

[2020-07-13 11:12] Kernald commented on #308
@gertvdijk I haven't. The structure I have is a proto target in `//a/package/of/mine`, with a dependency on a third party proto library (Google APIs, in the error log above, `google/api/resource.proto`), fetched through a `http_archive`, which in turn has a dependency on `google/protobuf/descriptor.proto`. (I'm on my phone right now so have a hard time finding the exact packages and whatnot, but t

[2020-07-14 13:53] adriangb commented on #237
@akonradi any further thoughts on this approach?

I've been working with `python-betterproto` and it certainly is possible to bake in support for parsing custom options. But I'm not sure if adding python-betterproto and pydantic dependency for using PGV with Python is okay.

In terms of steps, it would look something like:
1. Get custom option parsing in betterproto.
2. Build out Pydantic validato

[2020-07-14 13:56] akonradi commented on #237
@rodaine @kothariaditya can you chime in?

[2020-07-16 20:59] gophobic commented on #336
This should be reopened

[2020-07-17 15:35] Shikugawa opened #360 "Question to update protoc-gen-validate"
I faced a problem when we apply protoc-gen-validate after [this commit](https://github.com/envoyproxy/protoc-gen-validate/commit/0af61d9dc28712dc0e6f8e1a940855a2ee0cb9ed).

For detail, we have this error,

[code]

Do you have any idea to resolve this problem?

[2020-07-20 20:24] akonradi commented on #321
@snowp is this still an issue? Is this for C++ only or other languages as well? Would you be able to work on a PR?

[2020-07-20 22:07] akonradi commented on #360
The issue is that before that commit, the protoc-gen-star repository contents were included under the vendor directory, and afterwards, they're referenced via an [external repository rule](https://github.com/envoyproxy/protoc-gen-validate/blob/de7329c341d65e6b945e0d99ca7674328003bd00/dependencies.bzl#L22). Envoy is going to need to either add the same/similar external repository rule for protoc-ge

[2020-07-21 18:26] codyaray opened #362 "Minimum go version - 1.14?"
The go.mod indicates it requires go 1.14, but I see this was just added .

https://github.com/envoyproxy/protoc-gen-validate/blob/master/go.mod#L3

I'm curious if this is the only blocker to supporting earlier versions (1.12.7, in my case) ?

[2020-07-24 02:58] benson-lin opened #363 "generator is deprecated? how can i upgrade this package?"
protoc I .  --validate_out=lang=go,paths=source_relative:./  --go_out=plugins=grpc,paths=source_relative:./ ./validate.proto
WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
        A future release of golang/protobuf will delete this package,
        which has long been excluded from the compatibility promise.

[2020-07-24 06:05] benson-lin opened #364 "Can many similar regular expressions be put together for easy maintenance?"
If we write custom regex in different position, we must modify all of them. It is not a good idea to do that

[2020-07-25 07:48] #322 closed

[2020-07-25 21:08] derrickburns opened #365 "openapi validation rules"
It would be very cool to have a translator from openapi validation rules to protoc-gen-validate validation rules.

see https://github.com/googleapis/gnostic-grpc

[2020-07-30 12:54] eccles commented on #363
Same here ...

[2020-07-30 12:59] vtolstov commented on #363
use as-is and wait when the code is fixed

[2020-07-31 14:44] snowp commented on #321
I haven't run into this issue recently so it might have gotten fixed for all I know. I only saw this in C++.

If I find the time I can try to reproduce this and work on a fix, but it's not high on my priorities.

[2020-08-04 07:54] vvksahoo opened #368 "How to import validate/validate.proto into .proto file using python?"
Getting error while importing.
[code]
Error:
[code]

[2020-08-04 12:24] benson-lin opened #369 "cannot use m.GetPassword() (type string) as type *string in map index?"
[code]
testing like that

[code]

but build error

examples/hellovalidator.pb.validate.go:75:58: cannot use m.GetPassword() (type string) as type *string in map index
examples/hellovalidator.pb.validate.go:82:51: cannot use m.GetTall() (type int64) as type *int64 in map index
examples/hellovalidator.pb.validate.go:153:2: cannot use "b" (type string) as type *string in map key
examples/hellovalidat

[2020-08-05 14:39] adriangb commented on #237
Realizing that the same end goal (i.e. compile `.py` files) could _probably_ be accomplished by just extending `protoc-gen-star` to build Python files that use `python-betterproto` + `pydantic` directly (instead of relying on `python-betterproto` to build them). Since `protoc-gen-star` is already used for Go/Java that kind of makes more sense I think.

[2020-08-06 08:04] adambabik commented on #368
What does return this error? You need to copy `validate/validate.proto` into your workspace to make it work. It's not a known type compared to `"google/protobuf/timestamp.proto"`.

In my case, I have `/code` which is a root directory and inside it I have `proto/` which contains my Protocol Buffer files. I also have `protoc-gen-validate/` which contains `validate/validate.proto`.

For Go, you can h

[2020-08-07 16:21] rvolosatovs opened #370 "Only last of `repeated` rules respected"
Only one of `repeated` rules is applied when multiple are specified.

### Reproduction

`example.proto`:
[code]

1. `go build -o bin/protoc-gen-validate`
2. `protoc -I . -I ${GOPATH}/src -I ${GOPATH}/src/github.com/envoyproxy/protoc-gen-validate --plugin=protoc-gen-validate=./bin/protoc-gen-validate --validate_out="lang=go:generated" example.proto`
3. Observe the following `Validate` method genera

[2020-08-07 16:33] akonradi commented on #370
This is a limitation of the proto syntax. See #203 and #206 for how to do this correctly.

[2020-08-08 03:21] thesamet commented on #351
The issue is still valid: there's no Java release for 0.4.0.

[2020-08-08 10:38] #348 closed

[2020-08-10 10:28] samflattery opened #372 "Generates incorrect case in switch statement for action_selector (C++)"
I have the following proto:

[code]

For the validation of `action_selector`, the case `::test::common::router::Action::ActionSelectorCase::kUpstream_503` is generated instead of `::test::common::router::Action::ActionSelectorCase::kUpstream503`, resulting in a compilation error `bazel-out/k8-fastbuild/bin/test/common/router/router_fuzz.pb.validate.cc:385:62: error: no member named 'kUpstream_503'

[2020-08-10 13:30] #370 closed

[2020-08-11 07:39] seime commented on #354
I presented 2 possible solutions, and I agree that breaking the current functionality is not the best idea.

But what about adding another rule `defined_only_not_unspecified` (or similar) to support this style guide recommendation?

[2020-08-11 19:29] neha1196 commented on #74
Hi is this feature available now?

[2020-08-13 09:15] zeromberto opened #377 "Repeated embedded enum validation fails"
Input test.proto:
[code]
Generate command:
[code]
Expect: all validate rules are generated correclty, `Request_Status` is referenced in the rule.
Actual: rules are generated, `Status` is referenced but not defined.

[2020-08-13 14:10] #377 closed

[2020-08-14 14:30] akonradi commented on #74
This feature is not available, but we're happy to accept pull requests. The first step is figuring out how we want to represent this in the validation annotations. Any suggestions?

[2020-08-14 15:56] #372 closed

[2020-08-14 16:08] akonradi commented on #351
Ping @rmichela, I have no idea how to do this

[2020-08-14 21:33] #352 closed

[2020-08-15 19:47] #347 closed

[2020-08-15 19:47] #355 closed

[2020-08-15 19:48] adriangb commented on #345
I think this is not stale, it just hasn't gotten a reply, sorry stale bot.

[2020-08-16 07:59] #357 closed

[2020-08-18 16:01] rmichela commented on #351
I'm sorry for the long delay. COVID is chaos. What git sha do you want me to release as 0.4.0?

[2020-08-18 16:14] thesamet commented on #351
It looks like there are already git tags for v0.4.0 and v0.4.1 in this repository. Would it be possible to release both?

[2020-08-23 18:50] khanhtc1202 commented on #363
Looks like the cause of this problem is `github.com/golang/protobuf` package is deprecated ( ref: [pkg.go.dev](github.com/golang/protobuf) ). Anyone working on this issue?

[2020-08-24 03:14] CAFxX opened #383 "Go: avoid interface calls for zero-cost validation of messages without rules"
Currently the go generator generates something like this for embedded messages:

[code]

The problem is that, if Bar has no validation rules, all this code is pointless.

It would be ideal if instead we generated, at least in the case of messages that we know are in the same package, and that therefore are being generated together:

[code]

This way if `(*Bar).Validate()` is just `return nil` (i.e

[2020-08-24 19:39] akonradi commented on #362
I think that's the only blocker. There was a PR out that would downgrade that to go 1.12 I think?

[2020-08-27 18:56] rmichela commented on #351
Java v0.4.0 and v0.4.1 have been released

[2020-08-27 18:56] #351 closed

[2020-08-29 19:51] #360 closed

[2020-08-30 23:18] #364 closed

[2020-08-31 06:22] giftDad opened #386 "message exists a field named 'validate' Duplicate name with Validate()"
eg：
message a {
 int validate =1 ;
}
Duplicate name with Validate() function

can i use a variable to control the function name？

[2020-08-31 22:10] codyaray commented on #386
Fwiw, I ran into this same issue for a couple of structs which didn't need a `Validate()` method anyway, so I chose to add an `ignore` constraint to just avoid generating the `Validate()` method for them. Opened a PR for this here: https://github.com/envoyproxy/protoc-gen-validate/pull/374

However, being able to customize the generated name would also solve this, and allow us to use protoc-gen-va

[2020-08-31 22:17] codyaray commented on #126
I ran into the same issue. I've opened a PR to add support for FieldMasks so that you can call `Validate(mask)` for conditional validation: https://github.com/envoyproxy/protoc-gen-validate/pull/366

This should allow you to support both `POST` and `PATCH` semantics.

[2020-08-31 22:49] codyaray commented on #321
I just saw something that looks very similar, but in golang. I'm not sure if its exactly the same issue.

We include an enum from another package and set `enum.defined_only` constraint on it.

[code]

But the generated code looks like this:

[code]

Note that it says `v1` instead of `kafka.core.v1`.

## Suspected Issue

I suspect this has something to do with how we structure our files; each proto

[2020-08-31 23:06] codyaray opened #387 "Enum validation fails when enum defined in sibling package with same name"
I just saw something that looks similar to #321, but in golang and with an incorrect package prefix rather than no prefix. This seems different enough to open a new issue, but I'm happy to merge if you'd like.

We include an enum from another package and set `enum.defined_only` constraint on it.

[code]

But the generated code looks like this:

[code]

Note that it says `v1` instead of an import a

[2020-09-01 12:40] rmasclef commented on #126
Hi ! I will definitely take a look at this ! thank you for the PR and the heads up 👍

[2020-09-02 09:40] victorlevasseur opened #388 "In README, the Gradle example misses the pgv-java-stub dependency"
Hi,

in the README, the Maven project exposes a pgv-java-stub dependency that the gradle project example doesn't have. It's required as the code can't compile without it.

[2020-09-04 11:22] munagekar opened #389 "Feature Request for Python Package for validation"
It is not trivial to compile the grpc protos and use the validator script. Eg #368

However this can be easily accomplished by creating a python package. Application developer could simply do
[code]
and start to use validation with all the protos installed.

How do you feel about this proposal. I would be happy to contribute towards the packaging efforts and publishing it to pypi.

[2020-09-04 12:28] munagekar commented on #368
Generate the following tree structure.
[code]
Run the following command to compile the protos from outside of this structure. Output for ls command must be validate only.
[code]

This will give you the following tree
[code]

Add this directory to sitepackage or this directory must be in the python path for validate to work.

[2020-09-04 17:27] adriangb commented on #237
@akonradi @rodaine @kothariaditya any updates on this? I'm happy to work on this if there is interest.

[2020-09-05 19:58] #365 closed

[2020-09-12 20:16] #369 closed

[2020-09-16 18:16] smorel-plenty commented on #71
Gently pining this ticket. Is it truly blocked on protocolbuffers/protobuf#5119 it's hard to tell if that one is ever going to get fixed. Would it be possible to make some progress on this feature with the assumption that there are caveats (e.g. non-separability of the generated code modules)? Maybe even support by targeting another proto JS or TS generator?

[2020-09-23 12:13] manuelnp commented on #321
I just suffered this exactly same issue, only in C++

[2020-09-25 03:38] ocavue opened #391 "Unable to install the latest version of protoc-gen-validate"
Dockerfile:

[code]

Error:

[code]

[2020-09-25 04:42] ocavue opened #392 "generated code has wrong type"
The following proto file will generate some wrong validate code:

[code]

generated go code:

[code]

The key of map should be `PurchaseTaskRequest_Status` instead of `Status`.

### Version:

protoc: 3.13.0
protoc-gen-validate: 0.4.1

[2020-10-04 12:38] rkluszczynski opened #394 "Problem with PGV for repeated wrapped types"
Dear all,
I'm having the problem described in #347 described by @tomaszstaniewicz. I have used the sample code provided there and updated to the PGV compiler to version 0.4.1. There is a different error, but still an error.

`git clone https://github.com/tomaszstaniewicz/protoc-validate.git`
`sed -i -e 's/0.3.0/0.4.1/' pom.xml`
`mvn clean package -DskipTests`

Below is an error I'm having:

Can so

[2020-10-05 11:27] maros7 opened #395 "Validate that at least one field is set?"
For example, given a `message` like below we'd like to validate that at least one of the two fields is set. `oneof` is not possible since it should be possible to provide both. Is this something that would be possible to support?

[code]

[2020-10-05 14:13] akonradi commented on #395
PGV doesn't support any cross-field rules currently. See #128

[2020-10-05 14:19] akonradi commented on #394
I (and I suspect the other PGV maintainers) don't have time to work on this now, but can review a pull request if you can add a test case and the fix.

[2020-10-05 18:06] codyaray commented on #362
Ha, yeah, I made the PR. It's been merged :)

https://github.com/envoyproxy/protoc-gen-validate/pull/376

[2020-10-05 18:06] #362 closed

[2020-10-05 18:07] codyaray commented on #387
Probably would be good if this wasn't marked stale just because no one has had time to look at it at all yet. :)

[2020-10-06 06:12] maros7 commented on #395
Thanks @akonradi
Should have searched more thoroughly :/

[2020-10-06 06:12] #395 closed

[2020-10-06 14:28] rishi-suresh-keshav commented on #368
@adambabik ..

I use GoLand 2020.2 IDE for development. I have proto-gen-validate downloaded into `GOPATH` using `go get -d github.com/envoyproxy/protoc-gen-validate`. I am able to compile the proto without any issue. But I see the red lines for my import statements saying "Cannot import or resolve". The red lines are not causing any problem but its very annoying. Did you have to solve this proble

[2020-10-06 14:36] anopheles commented on #321
The issue is also available within go, using following go release protoc-gen-validate@v0.4.1

[2020-10-06 17:36] deepakkrishnak opened #396 "Build failures seen during protoc-gen-validate build"
I followed the instructions as below:
# fetches this repo into $GOPATH
go get -d github.com/envoyproxy/protoc-gen-validate

# installs PGV into $GOPATH/bin
make build

The make command above however results in the following error:
`make build
GOBIN=/Users/deepakkrishnak/go/src/github.com/envoyproxy/protoc-gen-validate/bin go install github.com/golang/protobuf/protoc-gen-go
# google.golang.org/prot

[2020-10-06 19:41] adambabik commented on #368
@rishi-suresh-keshav do you mean the errors when editing a protobuf file in GoLand? If so, it's likely you need to add custom import paths to the Protocol Buffer Editor plugin in GoLand. Go to Language & Frameworks > Protocol Buffers and uncheck "Configure automatically". To the existing list of folders, add `${GOPATH}/src/github.com/envoyproxy/protoc-gen-validate` and others.

[2020-10-07 11:18] vtopc commented on #363
will it work with google.golang.org/protobuf/cmd/protoc-gen-go?

[2020-10-07 15:30] akonradi commented on #363
Maybe? I'm happy to review a PR if you can get it working.

[2020-10-07 20:30] deepakkrishnak commented on #391
I might have an answer to this particular issue. You will need to add the contents of the protoc/include directory as well into /usr/local ie
`RUN curl -L -o /tmp/protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v3.13.1/protoc-3.13.1-linux-x86_64.zip && \
    unzip -o /tmp/protoc.zip -d /usr/local bin/protoc && \
    unzip -o /tmp/protoc.zip -d /usr/local 'include/*' && \
.

[2020-10-11 11:40] #386 closed

[2020-10-11 23:33] #389 closed

[2020-10-12 14:13] akonradi commented on #392
@ocavue would you be able to send a PR to fix this?

[2020-10-12 14:16] ocavue commented on #391
BTW, If I check out the code to `v0.4.1` (12 Aug 2020), then the installation has no issue.

[2020-10-12 14:18] ocavue commented on #392
@akonradi I could try to find the reason and fix it when I have some free time.

[2020-10-14 19:31] Sharathnasa opened #399 "How to add validation condition for null check?"
Hello Team,

Is there a way to add null check for the string ? If so how can i add it as the part of validation?

Adding  min.len = 1 doesn't solve the issue.

Regards,
Sharath

[2020-10-14 21:07] cgthayer opened #400 "validate.proto not yet proto3 format"
https://github.com/envoyproxy/protoc-gen-validate/blob/master/validate/validate.proto

Using protoc to compile an external auth server, I found that this one proto file isn't yet supporting proto3 syntax, which causes this build faliure:

error : validate/validate.proto: C# code generation only supports proto3 syntax [/c/src/Roblox/..

Thanks!

[2020-10-15 05:39] cgthayer opened #401 "Build failure for master with module/checker.go errors"
Checked out master and tried to build, but fails

* src: https://github.com/envoyproxy/protoc-gen-validate.git
* go 1.15
* protoc 3.13.0  (installed today)

I'm trying to create a server which speaks envoy's "ext_authz.proto" but failing in the compiling protos part.  (`api/envoy/extensions/filters/http/ext_authz/v3/ext_authz.proto`)

[code]

[2020-10-15 21:40] ocavue commented on #396
duplicate: #391

[2020-10-15 21:42] ocavue commented on #391
Just ran some `git bisect` commands. It shows that this issue is caused by commit 538267e